<ngx-spinner
bdOpacity = 0.6
bdColor = "rgba(255,255,255,0.6)"
size = "medium"
color = "rgb(207,44,126)"
type = "ball-atom"
[fullScreen] = "true"
>
</ngx-spinner>
<div class="container-fluid">
    <div class="PrincipalContainer">
            <app-header></app-header>
        <div class="row align-items-center justify-content-md-center">
            <div class="options-container2 row" >
                <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador aliados </p>  <img src="assets/icons/teamwork.png" width="80px" > </div> </div>
                <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador de usuarios </p>  <img src="assets/icons/astronaut.png" width="80px" > </div> </div>
                <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador de promociones </p>  <img src="assets/icons/bullhorn.png" width="80px" > </div> </div>
                <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador de cupones </p>  <img src="assets/icons/tag.png" width="80px" > </div> </div>

            </div>
                
            <div class="options-container row" >
                    <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Generador de informes </p>  <img src="assets/icons/book.png" width="80px" > </div> </div>
                    <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador de PQR's </p>  <img src="assets/icons/qr-code.png" width="80px" > </div> </div>
                    <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador de banners </p>  <img src="assets/icons/bar-code.png" width="80px" > </div> </div>
                    <div class="col margin"> <div class="txt-center"> <p class="txt-title"> Administrador T y C </p>  <img src="assets/icons/info.png" width="80px" > </div> </div>
    
                </div>

        
        </div>
       
    </div>
</div>