<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">
    <div class="row">
        <div style="width: 5%;" class="d-flex align-items-center">
            <a [routerLink]="['/main','options']" class="d-flex">
                <img src="assets/icons/Back.png" class="tifi-icon-back">
            </a>
        </div>
        <section class="col-11">
            <div class="filerControl px-1">
                <nav class="navbar navbar-expand-sm navbar-light bg-light" style="width: 100%;">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                        <section class="col-md-4 mr-1 " style="flex-direction: column;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [formGroup]="table">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item mr-md-2">
                                            <input placeholder="Buscar por nombre cupón..." class="form-control text-center"
                                                type="text" (keyup)="search()" #code id="code"
                                                formControlName="name">
                                        </li>
                                        <li class="nav-item">
                                            <input placeholder="Buscar por nombre de establecimiento ..."
                                                class="form-control text-center" type="text"
                                                (keyup)="search()" #name id="name"
                                                formControlName="nameAllies">
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="form-group">
                                <div class="input-group mt-3" style="justify-content: center;">
                                    <div class="radio radio-success m-2 form-check form-check-inline">
                                        <input class="form-check-input " type="radio" checked>
                                        <label style="font-size: 15px;">
                                            Activo
                                        </label>
                                    </div>
                                    <div class="radio radio-danger m-2 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" checked>
                                        <label style="font-size: 15px;">
                                            Inactivo
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col-md-6 overflow-auto mr-1 "
                            style="flex-direction: column;  margin-bottom: 4.8rem;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid d-flex">
                                    <li class="nav-item container-fluid d-flex">
                                        <input (keyup)="search()" class="form-control text-center"
                                            id="general" type="text" placeholder="Buscar cupon ..." #general
                                            [(ngModel)]="generalsearch">
                                    </li>
                                </ul>
                            </nav>
                        </section>
                        <section class="col-md-2 col-2" style="margin-bottom: 4.8rem;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center ">
                                <ul class="navbar-nav mr-md-auto mt-2 mt-lg-0">
                                    <li class="nav-item">
                                        <a [routerLink]="[ '/main/createCoupon', -1 ]"
                                            class="btn btn-outline-primary">Crear cupon</a>
                                </ul>
                            </nav>

                        </section>

                    </div>
                </nav>
            </div>
        </section>
    </div>
    <div class="tableFixHead mt-5">
        <table>
            <thead>
                <tr>
                    <th class="text-center">Nombre del cupón</th>
                    <th class="text-center">Logo</th>
                    <th class="text-center">Nombre del establecimiento</th>
                    <th class="text-center">Tipo de cupon</th>
                    <th class="text-center" colspan="3">Unidades</th>
                    <th class="text-center" colspan="2">Fecha de Promoción</th>
                    <th class="text-center" colspan="2">Estado</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody class="mt-5">
                <tr *ngFor="let coupon of newArray; let i = index " class="text-center">
                    <td>{{coupon.name}}</td>
                    <td> <img src={{coupon.imageCoupon}} alt="" class="sizeLogo mx-2"></td>
                    <td>{{coupon.nameAllies}}</td>
                    <td>
                        <button type="button" class="btn btn-link" (click)="goToUserManger( coupon.id, i)" >
                        {{coupon.nameTypeOfCoupon}}</button>    
                    </td>
                    <td>{{coupon.numberOfCouponsAvailable}}</td>
                    <td>de </td>
                    <td>{{coupon.numberOfUnits}}</td>
                    <td>{{coupon.createDate}}</td>
                    <td>{{coupon.expirationDate}}</td>
                    <td>
                        <div class="radio radio-success m-2 form-check-inline">
                            <input [checked]="coupon.state[0].check" type="radio" disabled="true" >
                            <label style="font-size: 15px;">
                                
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio radio-danger m-2 form-check-inline">
                            <input [checked]="coupon.state[1].check" type="radio" disabled="true"  >
                            <label style="font-size: 15px;">
                                
                            </label>
                        </div>
                    </td>
                    <td>
                        <button (click)="goToEditCoupon(coupon.id, i)" class="btn"> <i class="far fa-edit"></i>
                        </button>
                    </td>
                </tr>
                <td colspan="10">
                    <div *ngIf="loading" class="fa-3x text-center">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </div>

                </td>
                <tr >
                    <td *ngIf="noResults" colspan="10">
                        <a> No se encontraron resultados </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>