<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">
    <div class="row">
        <div style="width: 5%;" class="d-flex align-items-center">
            <a [routerLink]="['/main','options']" class="d-flex">
                <img src="assets/icons/Back.png" class="tifi-icon-back">
            </a>
        </div>
        <section class="col-11">
            <div class="filerControl px-1">
                <nav class="navbar navbar-expand-sm navbar-light bg-light" style="width: 100%;">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                        <section class="col-md-4 mr-1 " style="flex-direction: column;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [formGroup]="table">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item mr-md-2">
                                            <input placeholder="Buscar por código..." class="form-control text-center"
                                                type="text" (keyup)="search(code.value, code.id)" #code id="code"
                                                formControlName="codeToRedeem">
                                        </li>
                                        <li class="nav-item">
                                            <input placeholder="Buscar por nombre de establecimiento ..."
                                                class="form-control text-center" type="text"
                                                (keyup)="search(name.value, name.id)" #name id="name"
                                                formControlName="nameAllies">
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="form-group">
                                <div class="input-group mt-3" style="justify-content: center;">
                                    <div class="radio radio-success m-2 form-check form-check-inline">
                                        <input class="form-check-input " type="radio" checked>
                                        <label style="font-size: 15px;">
                                            Activo
                                        </label>
                                    </div>
                                    <div class="radio radio-danger m-2 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" checked>
                                        <label style="font-size: 15px;">
                                            Inactivo
                                        </label>
                                    </div>
                                    <div class="radio m-2 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" checked>
                                        <label style="font-size: 15px;">
                                            Eliminar
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col-md-6 overflow-auto mr-1 "
                            style="flex-direction: column;  margin-bottom: 4.8rem;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid d-flex">
                                    <li class="nav-item container-fluid d-flex">
                                        <input (keyup)="search(general.value)" class="form-control text-center"
                                            id="general" type="text" placeholder="Buscar cupon ..." #general
                                            [(ngModel)]="generalsearch">
                                    </li>
                                </ul>
                            </nav>
                        </section>
                        <section class="col-md-2 col-2" style="margin-bottom: 4.8rem;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center ">
                                <ul class="navbar-nav mr-md-auto mt-2 mt-lg-0">
                                    <li class="nav-item">
                                        <a [routerLink]="[ '/main/createCoupon', -1 ]"
                                            class="btn btn-outline-primary">Crear cupon</a>
                                </ul>
                            </nav>

                        </section>

                    </div>
                </nav>
            </div>
        </section>
    </div>
    <div class="tableFixHead mt-5">
        <table>
            <thead>
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Logo</th>
                    <th class="text-center">Nombre del establecimiento</th>
                    <th class="text-center">Tipo de cupon</th>
                    <th class="text-center" colspan="2">Fecha de Promoción</th>
                    <th class="text-center" colspan="2">Estado</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody class="mt-5">
                <tr *ngFor="let coupon of newArray; let i = index " class="text-center">
                    <td>{{coupon.codeToRedeem}}</td>
                    <td> <img src={{coupon.imageCoupon}} alt="" class="sizeLogo mx-2"></td>
                    <td>{{coupon.nameAllies}}</td>
                    <td>
                        <button type="button" class="btn btn-link" (click)="goToUserManger( i)" data-toggle="modal"
                            data-target="#exampleModalCenter">
                            {{coupon.nameTypeOfCoupon}}</button>
                       
                    </td>
                    <td>{{coupon.createDate[0]}}</td>
                    <!-- <td>{{coupon.expirationDate[0]}}</td> -->
                    <td>
                        <div class="radio radio-success m-2 form-check-inline">
                            <input [checked]="coupon.state[0].check" value="{{coupon.id}}" type="radio" name={{i}}
                                id="state" #active (click)="changeStateA(active.value)">
                            <label style="font-size: 15px;">
                                Activo
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio radio-danger m-2 form-check-inline">
                            <input [checked]="coupon.state[1].check" value="{{coupon.id}}" type="radio" name={{i}}
                                id="state" #inactive (click)="changeStateI(inactive.value)">
                            <label style="font-size: 15px;">
                                Inactivo
                            </label>
                        </div>
                    </td>
                    <td>
                        <button (click)="goToEditCoupon(coupon.id, i)" class="btn"> <i class="far fa-edit"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td *ngIf="noResults">
                        <a> No se encontraron resultados </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  <!-- Modal Enviar cupones a usuarios-->
    <div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572483; text-align: center;">
          <h5 class="modal-title" id="exampleModalCenterTitle" style="color: white; ">Usuarios seleccionados</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="table-content">
          <div id="table-print">

            <table class="table table-responsive" id="users-table">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Coreo</th>
                <th class="text-center">Celular</th>
                <th class="text-center">F.Nacimiento</th>
                <th class="text-center">Genero</th>
                <th class="text-center">Establecimiento</th>
                <th class="text-center">Sede</th>
                <th class="text-center">Usabilidad</th>
                <th class="text-center">Monto Compra</th>
                <th class="text-center">Seleccionar<input type="checkbox" class="m-2" [value]="newdateArray" name="selectall"
                    (change)="selectedAll($event)"> </th>
              </tr>
              <tr *ngFor="let user of newdateArray; let i = index " class="text-center">
                <td>{{i+1}}</td>
                <td>{{user.registerDate}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.nameAllie}}</td>
                <td>{{user.nameHeadquarter}}</td>
                <td>{{user.usability}}</td>
                <td>{{user.purchaseAmount}}</td>
                <td><input type="checkbox" class="m-1" [checked]="user.selected" (change)="selectedOne($event, i)"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="selectforsend()" >Enviar cupones</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>