<div class="container compenetsstyle">
    <div class="search mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <a href="" class="btn btn-outline-primary">
                        <i class="fas fa-chevron-left  "></i>
                    </a>
                </div>
                <div class="col-md-4">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <h1>hola mundo</h1>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn btn-outline-primary">
                        <p>Crear aliado</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>