@import "../../../UserManag/components/user-manager/user-manager.component.scss";

// styles buttons primary
.btn-outline-primary {
  color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.87);
  border-radius: 0.4rem;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #552183;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5a4183;
  border-color: #5a4183;
}

.sizeLogo {
  width: 120px;
  height: 100px;
}
.iconService {
  width: 2rem;
  height: 2rem;
}
