<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">

    <div class="row">
        <div style="width: 5%;" class="d-flex align-items-center">
            <a [routerLink]='["/main"]' class="d-flex">
                <img src="assets/icons/Back.png" class="tifi-icon-back">
            </a>
        </div>
        <section class="col-11">
            <div class="filerControl px-1">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [formGroup]="table">

                        <ul class=" navbar-nav mr-auto mt-2 mt-lg-0 ">
                            <li class="nav-item mx-5">
                                <input class="form-control " type="text" placeholder="Buscar por código ..."
                                    (keyup)="search(code.value, code.id)" #code id="code" formControlName="code"
                                    style="width: 100%;">
                            </li>
                            <li class="nav-item mx-5">
                                <input class="form-control container-fluid" type="text"
                                    placeholder="Buscar por tipo de comida ..."
                                    (keyup)="search( mealType.value, mealType.id)" #mealType id="nameMealsCategories"
                                    formControlName="mealType" style="width: 100%;">
                            </li>

                            <li class="nav-item mx-5  ">
                                <div class="input-group-append">
                                    <input class="form-control text-center" type="text"
                                        placeholder="Buscar establecimiento ..." (keyup)="searchbyterm( general.value)"
                                        #general id="general" formControlName="generalsearch">
                                    <span class="input-group-text backgroundIcon"><i class="fas fa-search "></i></span>
                                </div>
                            </li>

                            <li class="nav-item mx-5">
                                <button [routerLink]="['/main','createAlly', -1]"
                                    class="btn btn-outline-primary ml-2">Crear aliado</button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </div>

    <div class="tableFixHead mt-5">
        <table>
            
            <thead>
                <tr>
                    <th class="text-center">Codigo</th>
                    <th class="text-center">Logo </th>
                    <th class="text-center">Nombre del establecimiento</th>
                    <th class="text-center">Número de sedes</th>
                    <th *ngIf="manageProm" class="text-center">Sedes</th>
                    <th class="text-center">Servicios</th>
                    <th class="text-center">Tipo de aliado</th>
                    <th class="text-center">Tipo de comida</th>
                    <th class="text-center">Horario</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody class="mt-5">
                <tr *ngFor="let ally of newdateArray; let i = index " class="text-center">
                    <td> {{ally.code}} </td>
                    <td><img [src]="ally.logo" alt="" class="sizeLogo"> </td>
                    <td> <button type="button" class="btn btn-link" *ngIf="manageHq" (click)="getInHeadquarts(ally.idAlly, i)" > {{ally.nameEstablishment}} </button>
                        <button type="button" class="btn btn-link" *ngIf="manageProm" (click)="promosByAlly(ally.idAlly, i)"   > {{ally.nameEstablishment}} </button><!-- [routerLink]="['/main', 'promoManager']" -->
                        <button type="button" class="btn btn-link" *ngIf="managePromfromUser" [routerLink]="['/main','userManager','promoManager']"> {{ally.nameEstablishment}} </button>
                    </td>
                    <!-- <td> <a (click)="getInHeadquarts(ally.idAlly, i)"> {{ally.nameEstablishment}} </a></td> -->
                    <!-- [routerLink]="['/main', 'headquarts']" -->
                    <td> {{ally.numberHeadquarters}} </td>
                    <td *ngIf="manageProm"><select class="form-control mr-2" name="headquarters">
                        <option *ngFor="let hq of ally.nameHq" [ngValue]="hq.id">
                            {{hq.name}}
                        </option>
                    </select> </td>
                    <td>
                        <img *ngIf="ally.services ? ally.services[0]? true :false  : ''" [src]="ally.url1" alt=""
                            class="iconService mx-2">
                        <img *ngIf="ally.services ? ally.services[1]? true :false  : ''" [src]="ally.url2" alt=""
                            class="iconService mx-2">
                        <img *ngIf="ally.services ? ally.services[2]? true :false  : ''" [src]="ally.url3" alt=""
                            class="iconService mx-2">
                    </td>
                    <td> {{ally.allyType}} </td>
                    <td> {{ally.mealType}} </td>
                    <td> {{ally.schedules}} </td>

                    <td>
                        <a class="btn" (click)="editAlly(ally.idAlly, i)"> <i class="far fa-edit"></i> </a>
                    </td>

                </tr>
                <tr>
                    <td colspan="10">
                        <div *ngIf="loadingAllies" class="fa-3x text-center">
                            <i class="fas fa-spinner fa-pulse"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10" *ngIf="noResults && ! loadingAllies">
                        <a> No se encontraron resultados </a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>