// styles search 
.btn-outline-primary {
    color: rgba(0,0,0,.87);
    border-color: rgba(0,0,0,.87);
    border-radius: .4rem;
}
.btn-outline-primary:hover {
    color: #fff; 
    background-color: #552183;
}

.icon-size{
        font-size: 2rem;
}

.styleContainer{
    padding: 7rem;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

}
.styleTable{
    // padding: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.sizeInput{
    width: 25rem;
}