<div class="compenetsstyle">
    <div class="row styleContainer " >
        <div class="flex-grow-1" >
            <a [routerLink] = "['/main']" >
                <!-- <i class="fas fa-chevron-left "></i> -->
                <img src="assets/icons/Back.png" class="tifi-icon-back">
            </a>
        </div>
        <div class="flex-grow-1" >
            <form class="form-inline align-content-start">
                <div class="input-group">
                    <div class="input-group-append">
                        <input class="form-control sizeInput" id="myInput" type="text" placeholder="Buscar"
                            aria-label="Search">
                        <span class="input-group-text backgroundIcon"><i class="fas fa-search "></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div >
            <a [routerLink]="['/main','createAlly']" class="btn btn-outline-primary">
                <p>Crear aliado</p>
            </a>
        </div>  
    </div>
    <div class="row styleTable table-responsive mt-4">

        <table class="table table-bordered table-striped" id="table" data-toggle="table" data-show-columns="true"
            data-multiple-select-row="true" data-click-to-select="true" data-show-search-clear-button="true"
            data-filter-control="true">
            <!-- data-search="true" -->
            <thead>
                <tr>
                    <!-- <th data-field="name" data-filter-control="input">Nombre</th> -->
                    <th data-field="code" data-filter-control="input">Codigo</th>
                    <th data-field=""> logo </th>
                    <th data-field="nameStablishment" data-filter-control="input">Nombre del establecimiento</th>
                    <th data-field="numberHeadquarters">Número de sedes</th>
                    <th data-field="services">Servicios</th>
                    <th data-field="allyType">Tipo de aliado</th>
                    <th data-field="foodType"  data-filter-control="input">Tipo de comida</th>
                    <th data-field="schedule" class="position-relative">Horario</th>
                    <th data-field="edit" > </th>
                    
                </tr>
                             
            </thead>

            <tbody id="myTable" >
                <tr *ngFor="let ally of arrayAllyManager; " >
                    <td> {{ally.code}} </td>
                    <td><img [src]="ally.logo" alt="" class="sizeLogo">  </td>
                    <td> <a [routerLink]="['/main', 'headquarts']"> {{ally.nameEstablishment}} </a></td>
                    <td> {{ally.numberHeadquarters}} </td>
                    <td>
                        
                        <img *ngIf="ally.services ? ally.services[0]? true :false  : ''" [src]="ally.url1"  alt="" class="iconService mx-2"> 
                        <img *ngIf="ally.services ? ally.services[1]? true :false  : ''"[src]="ally.url2"  alt="" class="iconService mx-2"> 
                        <img *ngIf="ally.services ? ally.services[2]? true :false  : ''" [src]="ally.url3" alt="" class="iconService mx-2"> 
                    </td>
                    <td>Oro</td>
                    <!-- todo -->
                         <td > horario </td> 
                    <td>
                        <a href="#" class="btn"> <i class="far fa-edit"></i> </a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>