<ngx-spinner bdOpacity=0.6 bdColor="rgba(255,255,255,0.6)" size="medium" color="rgb(207,44,126)" type="ball-atom"
    [fullScreen]="true">
</ngx-spinner>
<form [formGroup]='newpassword' (ngSubmit)="changeNewPass()">

    <div class="container-fluid">

        <p class="text-tifi-bold ">¡Solo falta un paso!</p>
        <p class="text-justify ">Por favor ingresa tu contraseña, 
            recuerda que debe contener por lo menos 8 carácteres
            entre números, letras y mayúsculas.</p>


        <div class="input-group mb-3">

            <input placeholder="Nueva Contraseña" [type]="Typetext1" formControlName="password"
                class="form-control border-tifi">


            <div class="input-group-append">
                <button (click)="seepassword1()"
                    class="btn btn-outline-primary form-control border-tifi border-left-0 d-flex" type="button"
                    id="button-addon2">
                    <img *ngIf="!seepass1" src="assets/icons/tifi-eye.svg" class="tifi-icon d-flex">
                    <img *ngIf="seepass1" src="assets/icons/tifi-eye-close.svg" class="tifi-icon d-flex">
                    <!-- <i *ngIf="seepass1" class="far fa-eye-slash tifi-icon" style="color: #572483;" ></i> -->
                </button>
            </div>

        </div>
        <div class="tifi-no-valid" *ngIf=" !newpassword.get('password').valid && newpassword.get('password').dirty">
            La contaseña no cumple con los requerimientos expuestos!
        </div>

        <div class="input-group mb-3">

            <input placeholder="Confirma la Contraseña" [type]="Typetext" formControlName='verifypassword'
                class="form-control border-tifi">

            <div class="input-group-append">

                <button (click)="seepassword()"
                    class="btn btn-outline-primary form-control border-tifi border-left-0 d-flex" type="button"
                    id="button-addon2">
                    <img *ngIf="!seepass" src="assets/icons/tifi-eye.svg" class="tifi-icon d-flex">
                    <img *ngIf="seepass" src="assets/icons/tifi-eye-close.svg" class="tifi-icon d-flex">
                    <!-- <i *ngIf="seepass" class="far fa-eye-slash tifi-icon" style="color: #572483;" ></i> -->
                </button>
            </div>

        </div>

        <div *ngIf="!newpassword.get('verifypassword').valid && newpassword.get('verifypassword').dirty "
            class="tifi-no-valid text-center">
            Las contraseñas no coinciden
        </div>


        <div *ngIf="restoresuccess" class="tifi-valid text-center">
            La contraseña se ha restablecido satisfactoriamente ahora puede iniciar sesión
        </div>

        <div *ngIf="restoreunsuccess" class="tifi-no-valid text-center">
            Ha ocurrido un error en el restablecimiento de la contraseña, por favor intente nuevamente.
        </div>

        <div *ngIf="notCode" class="tifi-no-valid text-center">
            Su contraseña no puede ser restablecida, por favor comunicate con soporte o intenta nuevamente.
        </div>

        <button *ngIf="!restoresuccess" [disabled]="!newpassword.valid || restoresuccess" type="submit"
            class="btn container-fluid" style="background-color: #572483; color: white;">Cambiar</button>

        <a *ngIf="restoresuccess" class="btn container-fluid" [routerLink]="[ '/log','loginForm' ]"
            style="background-color: #572483; color: white;">Iniciar sesión</a>

    </div>



</form>