<form [formGroup] = 'newpassword' (ngSubmit)="send()">

<div class="container-fluid">
        
    <p class="text-tifi-bold ">¡Solo falta un paso!</p>
    <p class="text-justify ">Por favor ingresa tu contraseña, recuerda que dece contener por lo menos 8 caracteres entre
        números, letras y mayúsculas.</p>

    <div class="input-group mb-3">

        <input placeholder="Nueva Contraseña"
               [type]="Typetext1"
               formControlName ="password"
               class="form-control border-tifi"
               >


        <div class="input-group-append">
            <button (click)="seepassword1()" class="btn btn-outline-primary form-control border-tifi border-left-0 d-flex" type="button"
                id="button-addon2">
                <img *ngIf="!seepass1" src="assets/icons/tifi-eye.svg" class="tifi-icon d-flex">
                <i *ngIf="seepass1" class="far fa-eye-slash tifi-icon" style="color: #572483;" ></i>
            </button>
        </div>

    </div>

    <div class="input-group mb-3">

        <input placeholder="Confirma la Contraseña"
               [type]="Typetext"
               formControlName = 'verifypassword'
               class="form-control border-tifi"
               >

        <div class="input-group-append">

            <button (click)="seepassword()" class="btn btn-outline-primary form-control border-tifi border-left-0 d-flex" type="button"
                id="button-addon2">
                <img *ngIf="!seepass" src="assets/icons/tifi-eye.svg" class="tifi-icon d-flex">
                <i *ngIf="seepass" class="far fa-eye-slash tifi-icon" style="color: #572483;" ></i>
            </button>
        </div>

    </div>

    <div *ngIf="!newpassword.get('verifypassword').valid && newpassword.get('verifypassword').dirty " class="tifi-no-valid text-center">
        Las contraseñas no coinciden
    </div>

    <div class="tifi-no-valid text-center" *ngIf=" !newpassword.get('password').valid && newpassword.get('password').dirty" >
        La Contaseña no cumple con los requerimientos expuestos!
    </div>newpassword

    <button [disabled]="!newpassword.valid" type="submit" class="btn container-fluid" style="background-color: #572483; color: white;">Cambiar</button>

</div>



</form>
