<div class="container-fluid">

    <p class="text-tifi-bold ">¡Solo falta un paso!</p>
    <p class="text-justify " >Por favor ingresa tu contraseña, recuerda que dece contener por lo menos 8 caracteres entre números, letras y mayúsculas.</p>

    <div class="input-group mb-3">

        <input placeholder="Nueva Contraseña" type="text" class="form-control border-tifi" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary form-control border-tifi border-left-0 d-flex" type="button"
                id="button-addon2">
                <img src="assets/icons/tifi-eye.svg" class="tifi-icon"></button>
        </div>

    </div>

    <div class="input-group mb-3">

        <input placeholder="Confirma la Contraseña" type="text" class="form-control border-tifi" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary form-control border-tifi border-left-0 d-flex" type="button"
                id="button-addon2">
                <img src="assets/icons/tifi-eye.svg" class="tifi-icon"></button>
        </div>

    </div>

    <button type="button" class="btn container-fluid" style="background-color: #572483; color: white;">Cambiar</button>

</div>