<div class="container-fluid">
        <div class="PrincipalContainer">
                <app-app-navbar></app-app-navbar>
                <div class="row align-items-center justify-content-md-center ">
                        <h4 class="text-center title" >¡Ey Tifi aliado!</h4>
                </div>
                <div class="row align-items-center justify-content-md-center">
                        <small id="emailHelp" class="text-center span-text form-text text-muted">
                            Por favor ingresa la dirección de correo electrónico <br>
                            registrada con nosotros,para enviarte el codigo de <br>
                            verificación
                        </small>

                </div>
            <div class="row align-items-center justify-content-md-center">
                    <form class="div-center">
                            <div class="form-group">
                                    <input name="email" [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ej: name@domian.com">
                                    
                                  </div>
                                 
                                  <button (click)="resetPassword()" type="button" class="btn button-style">Enviar</button>
    
                    </form>
                    
            </div>
           
        </div>
    </div>