
<div class="compenetsstyle" style="background-color: #e9e7e7;">
  <div style="width:5%;" class="d-flex align-items-center justify-content-center">
      <a (click)="goBack()" class="d-flex">
        <img src="assets/icons/Back.png" class="tifi-icon-back">
      </a>
  </div>

  <br>


  <mat-grid-list cols="12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Crear grupo de acompañamientos</mat-card-title>
        <mat-card-subtitle>Detalle del grupo de acompañamientos</mat-card-subtitle>
      </mat-card-header>
      <hr>
      <mat-card-content class="content-model">
        <form class="example-form">
          <mat-grid-list cols="12">
            <mat-grid-tile colspan="8">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre grupo:</mat-label>
                <input matInput [(ngModel)]="groupName" name="groupName" placeholder="Ej. Bebidas">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="4">
              <mat-slide-toggle [(ngModel)]="multipleOption" name="multipleOption" color="primary">Opcion multiple</mat-slide-toggle>
            </mat-grid-tile>
        
          </mat-grid-list>
        </form>
      </mat-card-content>
      <hr>
      <mat-card-actions class="btn-container">
        <button mat-raised-button (click)="addGroup()" color="primary">Agregar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-list>

  <br>

  <app-accompaniment [groupName]="groupName" [multipleOption]="multipleOption" (AddAcompaniment)="updateInfo($event)"></app-accompaniment>


  <mat-grid-list cols="12" class="btn-container">
    <hr>
    <button mat-raised-button color="primary">Guardar Todo</button>
  </mat-grid-list>
</div>