<div class="PqrGeneral">

    <div class="compenetsstyle order-list ">

        <div class="filerControl d-flex justify-content-center">

            <nav class="menu mt-md-2">

                <ul>
                    <li>
                        <a>Código Pedido</a>
                    </li>
                    <li>
                        <a>Cliente</a>
                    </li>
                    <li>
                        <a>Modo entrega</a>
                    </li>
                    <li>
                        <a>Valor pedido</a>
                    </li>
                    <li>
                        <a>fecha y hora Reserva</a>
                    </li>
                    <li>
                        <a>fecha y hora Entrega</a>
                    </li>
                    <li>
                        <a>Cronómetro</a>
                    </li>
                    <li>
                        <a>Estado pedido</a>
                    </li>
                    <li style="border: none;">
                        <a>Estatus entrega</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div>
            <div class="chat" style="margin-top: 1.1rem; flex-flow: column;">
                <app-order (indexOrder)="tolast( $event )" [order]="order" [index]="i"
                    *ngFor="let order of orders2; let i = index" style="width: 100%;"></app-order>
            </div>
        </div>
    </div>
    <div class="compenetsstyle order-table  ">

        
        <div class="filerControl d-flex justify-content-center px-1 headerTables">
            <nav class="menu" >
                <ul>
                    <li style="border: none; padding: 0.6rem; font-size: 1.5rem;">
                        <a style=" font-weight: bold;">Agenda de Mesas</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div style="margin-top: 1.4rem;">
            <div style="background-color: #fff; border-radius: .7rem;" >

                <div class="calendarTables">
                    <!-- margin-bottom: .7rem; padding: .5rem; -->
                    <!-- <ngb-datepicker [dayTemplate]="t" #dp [(ngModel)]="model" (select)="onDateSelect($event)"
                    (navigate)="date = $event.next"></ngb-datepicker> -->
                    <full-calendar deepChangeDetection="true" [plugins]="calendarPlugins" [events]="calendarEvents"
                        (dateClick)="handleDateClick($event)" (eventClick)="eventClick($event)">

                    </full-calendar>
                </div>
                <div class="dropdown-divider" style="width: 95%; margin:1rem"></div>



                <div class="HoursTable">

                    <p>HORA RESERVA</p>

                    <div>
                        <button *ngFor="let hour of Hours; let idb = index" (click)="getHour($event, idb)" [id]="idb"
                            class="btn btn-outline-success" [disabled]="false" >{{hour.valueToShow}}</button>
                    </div>
                </div>
                
                <div class="dropdown-divider" style="width: 95%; margin:1rem"></div>

                <div class="tablePerson">
                    <!-- flex-direction: row; justify-content: center; -->

                    <div style="width: 50%;">

                        <p>MESA</p>
                        <div style="flex-direction: row; justify-content: center; overflow: auto;">
                            <button *ngFor="let table of Tables; let idt = index" (click)="getTables($event, idt)"
                                [id]="idt + 't'" class="btn btn-outline-success">{{table}}</button>
                        </div>
                    </div>
                    <div style="width: 50%;">

                        <p>PERSONAS</p>
                        <div style="flex-direction: row; justify-content: center; overflow: auto;">
                            <button *ngFor="let table of Tables; let idp = index" (click)="getPeople($event, idp)"
                                [id]="idp + 'p'" class="btn btn-outline-success">{{table}}</button>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="profile.reportPermissions.reportsummary" style="flex-direction: row; justify-content: space-evenly;">
                <button class="button-order" (click)="setFree()">LIBERAR</button>
                <button class="button-order" data-toggle="modal" data-target="#exampleModal"
                    (click)="showToReservation()">OCUPAR</button>
            </div>
        </div>
    </div>

</div>

<!-- modal -->

<div *ngIf="showmodal" class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="preOrder" validate="novalidate">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Cliente:</label>
                        <input type="text" class="form-control" id="recipient-name" placeholder="Nombre"
                            formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Platos:</label>

                        <select class="custom-select custom-select-sm" formControlName="dish" (change)="adddish()">
                            <option selected>Selecionar platos</option>
                            <option *ngFor="let dish of copilist; let il = index" [value]="il">
                                {{dish.name + ' : ' + ""+dish.price}}</option>
                        </select>

                    </div>
                    <div class="form-group">

                        <table *ngIf="selectDishes.length" class="table table-striped">
                            <thead>
                                <tr style="text-align: center;">
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Plato</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dishselect of selectDishes; let s = index">
                                    <td><input type="number" class="form-control" placeholder="..." [value]="1"
                                            (change)="updatePrice(s)" [id]="s+'q'"></td>
                                    <td>{{ dishselect.name }}</td>
                                    <td>$ {{ dishselect.price }}</td>
                                    <td>{{ dishselect.preparationTime }}</td>
                                    <td style="cursor: pointer;"><a (click)="removeDish(s)">X</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{totalCash }}</td>
                                    <td>{{totalTime}} minutos</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="setReservation()">Reservar</button>
            </div>
        </div>
    </div>
</div>