.iconsstyles{
    color: black;
    font-size: 20px
}
.servicio{
    font-size: 12px;
    
}


.reserva{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    font-size: 12px;
}

.selectSize{
    width: 13rem;
  }

.btn1 {
    margin-left: 5px;
    background-color: white;
    padding: 5px;
  }
  