<div class="compenetsstyle ">

    <form ngNativeValidate class="row" (ngSubmit)="saveHq(shape)" #shape="ngForm">

        
            <a [routerLink]='["/headquarts"]' class="d-flex mr-2">
                <img src="assets/icons/Tifi-back.png " class="tifi-icon-back">
            </a>
       

        <section class="col-5">

            <div class="form-group row"
                [ngClass]="{'has-danger': nameHq.errors?.minlength || nameHq.errors?.required }">
                <label class="col-md-5 col-form-label">Nombre de la sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Nombre de la sede" name="nameHq"
                        [(ngModel)]="preHeadquarters.nameHq" minlength="2" required #nameHq="ngModel">
                    <!-- <div *ngIf="nameHq.errors?.required" class="form-control-feedback" > <small> Este campo es requerido </small>  </div> -->
                    <!-- <div *ngIf="nameHq.errors?.minlength" class="form-control-feedback" > <small> *Mínimo {{ nameHq.errors.minlength.requiredLength }} carácteres </small> </div> -->
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-5 col-form-label">Ubicación</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <select *ngIf="otherLocationSelect" class="form-control" name="locationHq"
                            [(ngModel)]="preHeadquarters.location" required>
                            <!-- <option selected> Seleccionar... </option> -->
                            <option *ngFor="let x of Location">
                                {{x}}
                            </option>
                        </select>

                        <input *ngIf="otherLocationInput" class="col-md-9 col-form-label mr-2 form-control "
                            [(ngModel)]="preHeadquarters.location" required type="text" name="otherLocation">
                        <!-- (keyup)="addLocation(additem.value)" #additem> -->
                        <!-- <button *ngIf= "buttonadd" class="btn btn-success" > Añadir ubicación </button> -->
                        <div *ngIf="buttonadd" class="input-group-append">
                            <span class="input-group-text" (click)="handleBoxLocation()">
                                seleccionar
                            </span>
                        </div>


                        <div *ngIf="otherbuttonadd" class="input-group-append">
                            <span class="input-group-text" (click)="handleBoxLocation()">
                                otro
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Dirección</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Dirección" name="addressHq"
                        [(ngModel)]="preHeadquarters.address" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Piso</label>
                <div class="col-md-7">
                    <input class="form-control" type="number" min="0" placeholder="Piso" name="floorHq"
                        [(ngModel)]="preHeadquarters.floor">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Local</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Local" name="stallHq"
                        [(ngModel)]="preHeadquarters.stall">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Contacto general</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Contacto general" name="generalHq"
                        [(ngModel)]="preHeadquarters.general" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Cargo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Cargo" name="chargeGeneralHq"
                        [(ngModel)]="preHeadquarters.charge" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Celular</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Celular" name="cellGeneralHq"
                        pattern="^[3]\d{9}$" [(ngModel)]="preHeadquarters.cell" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fijo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" pattern="\([0-9]{3}\) [0-9]{3}[ -][0-9]{4}"
                        placeholder="(ddd) ddd-dddd" name="telGeneralHq" [(ngModel)]="preHeadquarters.tel">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Correo</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" placeholder="Correo" name="emailGeneralHq"
                        [(ngModel)]="preHeadquarters.emailGeneral" required #emailGeneralHq="ngModel">
                    <!--  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  -->
                    <!-- <div *ngIf=" emailGeneralHq.errors?.required" >Este campo es requerido</div>
                    <div *ngIf=" emailGeneralHq.errors?.pattern" >El campo no tiene formato de correo</div> -->
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Código sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="dddddd-d" pattern="[0-9]{6}[ -][0-9]{1}"
                        name="codeHq" [(ngModel)]="preHeadquarters.code" required>
                </div>
            </div>
        </section>



        <section class="col-5">

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Servicios prestados</label>
                <div class="col-md-7">
                    <div class="form-check form-check-inline" *ngFor="let service of services; let i=index">
                        <label class="form-check-label">
                            <img src={{service.img}} height="30px" width="30px">
                            {{service.name}}
                        </label>
                        <!-- [(ngModel)]="preHeadquarters.services[i]  name="services" [value]="service"" -->
                        <input class="form-check-input" type="checkbox" [checked]="service.select"
                            (change)="selectedService($event,i)" [value]="service.name">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Costo por reserva/pedido</label>
                <div class="col-md-7 ">
                    <div class="form-check form-check-inline" *ngFor="let x of cost; let position = index">
                        <label>
                            <img src={{x.img}} height="30px" width="30px">
                        </label>
                        <!-- [disabled]="!preHeadquarters['services'][position].checked" -->
                        <input class="reserva" type="text" placeholder="$2500" (change)="writeCost($event,position)"
                            id={{x.name}} value="$" required>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Servicios adicionales</label>
                <div class="col-md-7">
                    <div class="form-check form-check-inline" *ngFor="let x of aditionalServices;let i=index">
                        <input class="form-check-input" type="checkbox" [checked]="x.select"
                            (change)="selectedAditionalService($event,i)" [value]="x.name">
                        <label class="form-check-label servicio">
                            <img id={{i}} src={{x.img}} height="25px" width="25px">
                            {{x.name}}
                        </label>
                    </div>
                <a class="ml-4" > 
                    <input  class="form-check-input " type="checkbox" (click)="handleBoxOtherservice()"  >
                    <label  class="form-check-label servicio" > 
                        <img  src='assets/icons/info.png' height="25px" width="25px">
                        otro
                    </label>
                    <input *ngIf="othersServiceInput" class="col-md-9 col-form-label mr-2 form-control" [(ngModel)]="other" name="other" required>
                    <!-- <input *ngIf="othersServiceInput" type="file" (change)="selectImg($event.target.value)" > -->
                    <!-- <button class="btn btn-outline-primary" >imgen</button>  -->
                    <button  *ngIf="othersServiceInput" class="btn btn-success" (click)="addNewServiceadd(other)" > Añadir</button>
                </a>
                </div>


                <!--,{name:'otro',  img: 'assets/icons/other.svg' ,select:false }   
                   <input *ngIf="otherLocationInput" class="col-md-9 col-form-label mr-2 form-control "
                [(ngModel)]="preHeadquarters.location" required type="text" name="otherLocation">

                <div *ngIf="otherbuttonadd" class="input-group-append">
                    <span class="input-group-text" (click)="handleBoxLocation()">
                        otro
                    </span>
                </div> -->

            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Tiempo promedio de entrega</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="number" min="0" max="120" placeholder="Tiempo promedio de entrega" value="0"
                            class="form-control" [(ngModel)]="preHeadquarters.deliveyTime" name="deliveryTime">
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-5 col-form-label">Contacto sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="contactHq"
                        [(ngModel)]="preHeadquarters.headquarterContact" required placeholder="Contacto sede">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Cargo</label>
                <div class="col-md-7">
                    <input class="form-control" placeholder="Cargo" type="text" name="chargelHq"
                        [(ngModel)]="preHeadquarters.chargeHq" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Celular</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Celular" name="cellHq" pattern="^[3]\d{9}$"
                        [(ngModel)]="preHeadquarters.cellHq" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fijo</label>
                <div class="col-md-7">
                    <input class="form-control" pattern="\([0-9]{3}\) [0-9]{3}[ -][0-9]{4}" placeholder="(ddd) ddd-dddd"
                        name="telHq" [(ngModel)]="preHeadquarters.telHq">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Correo</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" placeholder="Correo" name="emailHq"
                        [(ngModel)]="preHeadquarters.emailHq" required>
                </div>
            </div>

        </section>

        <section class="col-1 d-flex justify-content-center align-items-center ">

            <div class="d-flex flex-column ">
                <div class="form-group row" style="margin-bottom: 5rem;">
                    <label class="">&nbsp;</label>
                    <div class="input-group  ">
                        <!-- [disabled]="!shape.valid" -->
                        <button type="submit" class="btn btn-outline-primary">
                            Guardar
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="">&nbsp;</label>
                    <div class="input-group ">
                        <!-- [disabled]="!shape.valid" -->
                        <button type="button" (click)="cancel()" class="btn btn-outline-primary">
                            Cancelar
                        </button>
                    </div>
                </div>

            </div>
        </section>

    </form>

    <pre>
        {{ preHeadquarters | json }}
    </pre>

</div>