<div class="compenetsstyle ">

    <form novalidate="" class="row" (ngSubmit)="saveHq(shape)" #shape="ngForm">


        <a [routerLink]='["/headquarts"]' class="d-flex mr-2">
            <img src="assets/icons/Tifi-back.png " class="tifi-icon-back">
        </a>


        <section class="col-5">

            <div class="form-group row">
                <label class="col-md-5 col-form-control-label">Nombre de la sede</label>
                <div class="col-md-7 form-group">
                    <input class="form-control"
                        [ngClass]="{'is-invalid': (!nameHq.valid && nameHq.touched ),'is-valid':(nameHq.valid) }"
                        type="text" placeholder="Nombre de la sede" name="nameHq" [(ngModel)]="preHeadquarters.nameHq"
                        minlength="2" required #nameHq="ngModel">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Ubicación</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <select *ngIf="otherLocationSelect" class="form-control" name="locationHq" #locationHq="ngModel"
                            [(ngModel)]="preHeadquarters.location" required
                            [ngClass]="{'is-invalid': (!locationHq.valid ),'is-valid':(locationHq.valid) }">
                            <!-- <option selected> Seleccionar... </option> -->
                            <option *ngFor="let x of Location">
                                {{x}}
                            </option>
                        </select>
                        <input *ngIf="otherLocationInput" class="col-md-9 col-form-label mr-2 form-control "
                            #otherLocation="ngModel" (keyup.enter)="addLocation(additem.value)" #additem
                            [(ngModel)]="preHeadquarters.location"
                            [ngClass]="{'is-invalid': (!otherLocation.valid && otherLocation.touched ),'is-valid':(otherLocation.valid) }"
                            required type="text" name="otherLocation">
                        <!-- <button *ngIf= "buttonadd" class="btn btn-success" > Añadir ubicación </button> -->
                        <div *ngIf="buttonadd" class="input-group-append">
                            <span class="input-group-text" (click)="handleBoxLocation()">
                                Regresar
                            </span>
                        </div>

                        <div *ngIf="otherLocationInput" class="col-md-10">
                            <div class="form-control-feedback">
                                <small> *Presione enter para guardar </small>
                            </div>
                        </div>

                        <div *ngIf="otherbuttonadd" class="input-group-append">
                            <span class="input-group-text" (click)="handleBoxLocation()">
                                otro
                            </span>
                        </div>

                        <div class="invalid-feedback">*Este campo es requerido </div>
                        <div class="valid-feedback">Ok!</div>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Dirección</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Dirección" name="addressHq"
                        [ngClass]="{'is-invalid': (!addressHq.valid && addressHq.touched ),'is-valid':(addressHq.valid) }"
                        [(ngModel)]="preHeadquarters.address" required #addressHq="ngModel">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Piso</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" min="0" placeholder="Piso" name="floorHq" #floorHq="ngModel"
                        pattern="[0-9]{1,3}" required [(ngModel)]="preHeadquarters.floor"
                        [ngClass]="{'is-invalid': (!floorHq.valid && floorHq.touched || floorHq.errors?.pattern ),'is-valid':(floorHq.valid) }">
                    <div *ngIf="floorHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="floorHq.errors?.pattern" class="invalid-feedback">*Sólo carácteres numéricos, máximo 3
                        carácteres</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Local</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Local" name="stallHq" #stallHq="ngModel"
                        required min="0" pattern="[A-Za-z0-9]{1,6}" [(ngModel)]="preHeadquarters.stall"
                        [ngClass]="{'is-invalid': (!stallHq.valid && stallHq.touched || stallHq.errors?.pattern ),'is-valid':(stallHq.valid) }">
                    <div *ngIf="stallHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="stallHq.errors?.pattern" class="invalid-feedback">*Máximo 6 carácteres</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Contacto general</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Contacto general" name="generalHq" required
                        #generalHq="ngModel" [(ngModel)]="preHeadquarters.general" minlength="3"
                        [ngClass]="{'is-invalid': (!generalHq.valid && generalHq.touched ),'is-valid':(generalHq.valid) }">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Cargo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Cargo" name="chargeGeneralHq"
                        #chargeGeneralHq="ngModel" minlength="3" required [(ngModel)]="preHeadquarters.charge"
                        [ngClass]="{'is-invalid': (!chargeGeneralHq.valid && chargeGeneralHq.touched ),'is-valid':(chargeGeneralHq.valid) }">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Celular</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Celular" name="cellGeneralHq" required
                        [ngClass]="{'is-invalid': (!cellGeneralHq.valid && cellGeneralHq.touched) || cellGeneralHq.errors?.pattern ,'is-valid':(cellGeneralHq.valid) }"
                        #cellGeneralHq="ngModel" pattern="^[3]\d{9}$" [(ngModel)]="preHeadquarters.cell">
                    <div *ngIf="cellGeneralHq.errors?.required" class="invalid-feedback">*Este campo es requerido </div>
                    <div *ngIf="cellGeneralHq.errors?.pattern" class="invalid-feedback">*Ingrese un número de celular
                        válido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fijo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" pattern="\([0-9]{3}\)[0-9]{3}[ -][0-9]{4}"
                        placeholder="(xxx)xxx-xxxx" name="telGeneralHq" [(ngModel)]="preHeadquarters.tel">
                    <div class="col-md-9">
                        <div class="form-control-feedback">
                            <small> *Indicador seguido del número:(xxx)xxx-xxxx </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Correo</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" placeholder="Correo" name="emailGeneralHq"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        [ngClass]="{'is-invalid': (!emailGeneralHq.valid && emailGeneralHq.touched) || emailGeneralHq.errors?.pattern ,'is-valid':(emailGeneralHq.valid) }"
                        [(ngModel)]="preHeadquarters.emailGeneral" required #emailGeneralHq="ngModel">
                    <div *ngIf=" emailGeneralHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf=" emailGeneralHq.errors?.pattern" class="invalid-feedback">*El campo no tiene formato de
                        correo</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Código sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="dddddd-d"
                        pattern="[0-9a-zA-Z]{6}[ -][0-9a-zA-Z]{1}" #codeHq="ngModel"
                        [ngClass]="{'is-invalid': (!codeHq.valid && codeHq.touched) || codeHq.errors?.pattern ,'is-valid':(codeHq.valid) }"
                        name="codeHq" [(ngModel)]="preHeadquarters.code" required>
                    <div class="col-md-9">
                        <div class="form-control-feedback">
                            <small> *Formato(7 carácteres): xxxxxx-x </small>
                        </div>
                    </div>
                    <div *ngIf=" codeHq.errors?.required" class="invalid-feedback">*Este campo es requerido</div>
                    <div *ngIf=" codeHq.errors?.pattern" class="invalid-feedback">*El campo no tiene formato válido
                    </div>
                </div>
            </div>
        </section>



        <section class="col-5">

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Servicios prestados</label>
                <div class="col-md-7">
                    <div class="form-check form-check-inline" *ngFor="let service of services; let i=index">
                        <label class="form-check-label">
                            <img src={{service.img}} height="30px" width="30px">
                            {{service.name}}
                        </label>
                        <!-- [(ngModel)]="preHeadquarters.services[i]  name="services" [value]="service"" -->
                        <input class="form-check-input" type="checkbox" [checked]="service.select"
                            (change)="selectedService($event,i)" [value]="service.name">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Costo por reserva/pedido</label>
                <div class="col-md-7 ">
                    <div class="form-check form-check-inline" *ngFor="let x of cost; let position = index">
                        <div *ngIf="preHeadquarters['services'][position]?.checked">

                            <label>
                                <img src={{x.img}} height="30px" width="30px">
                            </label>
                            <!-- [disabled]="[disabled]="!preHeadquarters['services'][position].checked"" -->
                            <input class="reserva form-control" type="text" min="0" placeholder="$2500" (change)="writeCost($event,position)"
                            name="cost" #cost="ngModel" pattern="[0-9]{1,5}" required [(ngModel)]="preHeadquarters.cost"
                            [ngClass]="{'is-invalid': (!cost.valid && cost.touched || cost.errors?.pattern ),'is-valid':(cost.valid) }"
                            required>
                        </div>

                        <div *ngIf="cost.errors?.required" class="invalid-feedback">*Este campo es requerido
                        </div>
                        <div *ngIf="cost.errors?.pattern" class="invalid-feedback">*Sólo carácteres numéricos</div>
                        <div class="valid-feedback">Ok!</div>

                        <!-- <input class="form-control" type="text" min="0" placeholder="Piso" name="floorHq" #floorHq="ngModel"
                        pattern="[0-9]{1,3}" required [(ngModel)]="preHeadquarters.floor"
                        [ngClass]="{'is-invalid': (!floorHq.valid && floorHq.touched || floorHq.errors?.pattern ),'is-valid':(floorHq.valid) }">
                    <div *ngIf="floorHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="floorHq.errors?.pattern" class="invalid-feedback">*Sólo carácteres numéricos, máximo 3
                        carácteres</div>
                    <div class="valid-feedback">Ok!</div> -->
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Servicios adicionales</label>
                <div class="col-md-7">
                    <div class="form-check form-check-inline" *ngFor="let x of aditionalServices;let i=index">
                        <input class="form-check-input" type="checkbox" [checked]="x.select"
                            (change)="selectedAditionalService($event,i)" [value]="x.name">
                        <label class="form-check-label servicio">
                            <img id={{i}} src={{x.img}} height="25px" width="25px">
                            {{x.name}}
                        </label>
                    </div>
                    <a class="ml-4">
                        <input class="form-check-input " type="checkbox" (click)="handleBoxOtherservice()">
                        <label class="form-check-label servicio">
                            <img src='assets/icons/info.png' height="25px" width="25px">
                            otro
                        </label>
                        <input *ngIf="othersServiceInput" class="col-md-9 col-form-label mr-2 form-control"
                            [(ngModel)]="other" name="other" required>
                        <input *ngIf="othersServiceInput" type="file" (change)="selectImg($event)" >
                        <!-- <button class="btn btn-outline-primary" >imgen</button>  -->
                        <button *ngIf="othersServiceInput" class="btn btn-outline-primary"
                            (click)="addNewServiceadd(other)">
                            Añadir</button>
                    </a>
                </div>


                <!--,{name:'otro',  img: 'assets/icons/other.svg' ,select:false }   
                   <input *ngIf="otherLocationInput" class="col-md-9 col-form-label mr-2 form-control "
                [(ngModel)]="preHeadquarters.location" required type="text" name="otherLocation">

                <div *ngIf="otherbuttonadd" class="input-group-append">
                    <span class="input-group-text" (click)="handleBoxLocation()">
                        otro
                    </span>
                </div> -->

            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Tiempo promedio de entrega</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" min="0" placeholder="Tiempo promedio de entrega" #deliveryTime="ngModel"
                            pattern="[0-9]{1,3}" required
                            [ngClass]="{'is-invalid': (!deliveryTime.valid && deliveryTime.touched ),'is-valid':(deliveryTime.valid) }"
                            class="form-control" [(ngModel)]="preHeadquarters.deliveyTime" name="deliveryTime">
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                        <div *ngIf="deliveryTime.errors?.required" class="invalid-feedback">*Este campo es requerido
                        </div>
                        <div *ngIf="deliveryTime.errors?.pattern" class="invalid-feedback">*Sólo carácteres numéricos
                        </div>
                        <div class="valid-feedback">Ok!</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-5 col-form-label">Contacto sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="contactHq" #contactHq="ngModel" minlength="3"
                        [ngClass]="{'is-invalid': (!contactHq.valid && contactHq.touched ),'is-valid':(contactHq.valid) }"
                        [(ngModel)]="preHeadquarters.headquarterContact" required placeholder="Contacto sede">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Cargo</label>
                <div class="col-md-7">
                    <input class="form-control" placeholder="Cargo" type="text" name="chargeHq" #chargeHq="ngModel"
                        [ngClass]="{'is-invalid': (!chargeHq.valid && chargeHq.touched ),'is-valid':(chargeHq.valid) }"
                        [(ngModel)]="preHeadquarters.chargeHq" minlength="3" required>
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Celular</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Celular" name="cellHq" pattern="^[3]\d{9}$"
                        [ngClass]="{'is-invalid': (!cellHq.valid && cellHq.touched) || cellHq.errors?.pattern ,'is-valid':(cellHq.valid) }"
                        [(ngModel)]="preHeadquarters.cellHq" #cellHq="ngModel" required>
                    <div *ngIf="cellHq.errors?.required" class="invalid-feedback">*Este campo es requerido </div>
                    <div *ngIf="cellHq.errors?.pattern" class="invalid-feedback">*Ingrese un número de celular
                        válido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fijo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" pattern="\([0-9]{3}\)[0-9]{3}[ -][0-9]{4}"
                        placeholder="(xxx)xxx-xxxx" name="telHq" [(ngModel)]="preHeadquarters.telHq">
                    <div class="col-md-9">
                        <div class="form-control-feedback">
                            <small> *Indicador seguido del número:(xxx)xxx-xxxx </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Correo</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" placeholder="Correo" name="emailHq"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailHq="ngModel"
                        [ngClass]="{'is-invalid': (!emailHq.valid && emailHq.touched) || emailGeneralHq.errors?.pattern ,'is-valid':(emailHq.valid) }"
                        [(ngModel)]="preHeadquarters.emailHq" required>
                    <div *ngIf="emailHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="emailHq.errors?.pattern" class="invalid-feedback">*El campo no tiene formato de
                        correo</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

        </section>

        <section class="col-1 d-flex justify-content-center align-items-center ">

            <div class="d-flex flex-column ">
                <div class="form-group row" style="margin-bottom: 5rem;">
                    <label class="">&nbsp;</label>
                    <div class="input-group  ">
                        <button [disabled]="!shape.valid" type="submit" class="btn btn-outline-primary" id="btnguardar">
                            Guardar
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="">&nbsp;</label>
                    <div class="input-group ">
                        <button type="button" (click)="cancel()" class="btn btn-outline-primary">
                            Cancelar
                        </button>
                    </div>
                </div>

            </div>
        </section>

    </form>

    <pre>
        {{ preHeadquarters | json }}
    </pre>

</div>