.iconsstyles{
    color: black;
    font-size: 20px
}
.servicio{
    font-size: 12px;
    
}


.reserva{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    font-size: 12px;
}

.selectSize{
    width: 13rem;
  }

.btn1 {
    margin-left: 5px;
    background-color: white;
    padding: 5px;
  }

  //Styles button primary
.btn-outline-primary:hover {
    color: #fff;
    background-color: #552183;
  }
  .btn-outline-primary {
    color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #5a4183;
    border-color: #5a4183;
  }

  //Styles for the button: upload image
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}