<div class="compenetsstyle ">

    <form novalidate="" class="row" (ngSubmit)="saveHq(shape)" #shape="ngForm">


        <a  (click)="goBackHeadquarterOptions()" class="d-flex mr-2">
            <img src="assets/icons/Back.png" class="tifi-icon-back">
        </a>


        <section class="col-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">

            <div class="form-group row">
                <label class="col-md-5 col-form-control-label">Nombre de la sede</label>
                <div class="col-md-7 form-group">
                    <input class="form-control"
                        [ngClass]="{'is-invalid': (!nameHq.valid && nameHq.touched ),'is-valid':(nameHq.valid) }"
                        type="text" placeholder="Nombre de la sede" name="name" [(ngModel)]="preHeadquarters.name"
                        minlength="2" required #nameHq="ngModel">
                    <div *ngIf="nameHq.errors?.required" class="invalid-feedback">*Este campo es requerido </div>
                    <div *ngIf="nameHq.errors?.minlength" class="invalid-feedback">* por lo menos 2 caracteres</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Ubicación</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <select *ngIf="otherLocationSelect" class="form-control" name="locationHq" #locationHq="ngModel"
                            [(ngModel)]="preHeadquarters.ubication" required
                            [ngClass]="{'is-invalid': (!locationHq.valid && locationHq.touched ),'is-valid':(locationHq.valid) }">
                        
                            <option *ngFor="let list of Location"
                            [ngValue]= "list.name">
                                {{list.name}}
                            </option>
                        </select>

                        <div class="invalid-feedback">*Este campo es requerido </div>
                        <div class="valid-feedback">Ok!</div>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Dirección</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Dirección" name="address"
                        [ngClass]="{'is-invalid': (!addressHq.valid && addressHq.touched ),'is-valid':(addressHq.valid) }"
                        [(ngModel)]="preHeadquarters.address" required #addressHq="ngModel">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Piso</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" min="0" placeholder="Piso" name="numberFloor" #floorHq="ngModel"
                        pattern="[0-9]{1,3}" required [(ngModel)]="preHeadquarters.numberFloor"
                        [ngClass]="{'is-invalid': (!floorHq.valid && floorHq.touched || floorHq.errors?.pattern ),'is-valid':(floorHq.valid) }">
                    <div *ngIf="floorHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="floorHq.errors?.pattern" class="invalid-feedback">*Sólo caracteres numéricos, máximo 3
                        carácteres</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Local</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Local" name="local" #stallHq="ngModel"
                        required min="0" pattern="[A-Za-z0-9]{1,6}" [(ngModel)]="preHeadquarters.local"
                        [ngClass]="{'is-invalid': (!stallHq.valid && stallHq.touched || stallHq.errors?.pattern ),'is-valid':(stallHq.valid) }">
                    <div *ngIf="stallHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="stallHq.errors?.pattern" class="invalid-feedback">*Máximo 6 carácteres</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Contacto general</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Contacto general" name="generalContact" required
                        #generalHq="ngModel" [(ngModel)]="preHeadquarters.generalContact" minlength="3"
                        [ngClass]="{'is-invalid': (!generalHq.valid && generalHq.touched ),'is-valid':(generalHq.valid) }">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Cargo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Cargo" name="chargeGC"
                        #chargeGeneralHq="ngModel" minlength="3" required [(ngModel)]="preHeadquarters.chargeGC"
                        [ngClass]="{'is-invalid': (!chargeGeneralHq.valid && chargeGeneralHq.touched ),'is-valid':(chargeGeneralHq.valid) }">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Celular</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Celular" name="mobileGC" required
                        [ngClass]="{'is-invalid': (!cellGeneralHq.valid && cellGeneralHq.touched) || cellGeneralHq.errors?.pattern ,'is-valid':(cellGeneralHq.valid) }"
                        #cellGeneralHq="ngModel" pattern="^[3]\d{9}$" [(ngModel)]="preHeadquarters.mobileGC">
                    <div *ngIf="cellGeneralHq.errors?.required" class="invalid-feedback">*Este campo es requerido </div>
                    <div *ngIf="cellGeneralHq.errors?.pattern" class="invalid-feedback">*Ingrese un número de celular
                        válido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fijo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" pattern="\([0-9]{3}\)[0-9]{3}[ -][0-9]{4}"
                        placeholder="Ej: (123)456-7891" name="telephoneGC" [(ngModel)]="preHeadquarters.telephoneGC">
                    <div class="col-md-9">
                        <div class="form-control-feedback">
                            <small> *Indicador seguido del número:(123)456-7891 </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Correo</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" placeholder="Correo" name="emailGeneral"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        [ngClass]="{'is-invalid': (!emailGeneralHq.valid && emailGeneralHq.touched) || emailGeneralHq.errors?.pattern ,'is-valid':(emailGeneralHq.valid) }"
                        [(ngModel)]="preHeadquarters.emailGeneral" required #emailGeneralHq="ngModel">
                    <div *ngIf=" emailGeneralHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf=" emailGeneralHq.errors?.pattern" class="invalid-feedback">*El campo no tiene formato de
                        correo</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Código sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Ej: 444444-1"
                        pattern="[0-9a-zA-Z]{6}[ -][0-9a-zA-Z]{1}" #codeHq="ngModel"
                        [ngClass]="{'is-invalid': (!codeHq.valid && codeHq.touched) || codeHq.errors?.pattern ,'is-valid':(codeHq.valid) }"
                        name="code" [(ngModel)]="preHeadquarters.code" required>
                    <div class="col-md-9">
                        <div class="form-control-feedback">
                            <small> *Formato(7 carácteres): 444444-1 </small>
                        </div>
                    </div>
                    <div *ngIf=" codeHq.errors?.required" class="invalid-feedback">*Este campo es requerido</div>
                    <div *ngIf=" codeHq.errors?.pattern" class="invalid-feedback">*El campo no tiene formato válido
                    </div>
                </div>
            </div>
        </section>



        <section class="col-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Servicios prestados</label>
                <div class="col-md-7">
                    <div class="form-check form-check-inline" *ngFor="let service of services; let i=index">
                        <label class="form-check-label">
                            <img src={{service.img}} height="30px" width="30px">
                            <!-- {{service.name}} -->
                        </label>
                        <input class="form-check-input" type="checkbox" [checked]="service.select"
                            (change)="selectedService($event,i)" [value]="service.name" >
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5  col-lg-5 col-form-label">Costo por reserva/pedido</label>
                <div class="col-md-7 col-lg-7 d-flex flex-column" >
                    <div class="form-check form-check-inline" *ngFor="let x of cost; let position = index">
                        <div *ngIf="preHeadquarters['principarlServices'][position]?.checked" style="margin-top: 0.8rem;">
                            <label>
                                <img src={{x.img}} height="30px" width="30px">
                            </label>
                            <input class="reserva form-control" type="text" (change)="writeCost($event,position)"
                                [id]=x.name name="{{x.name}}" [(ngModel)]="preHeadquarters.costPerService[position].value" required #cost="ngModel" min="0"
                                placeholder="$2500" pattern="[0-9]{3,6}"
                                [ngClass]="{'is-invalid': (!cost.valid && cost.touched || cost.errors?.pattern ),'is-valid':(cost.valid) }">
                        </div>

                        <div *ngIf="cost.errors?.required" class="invalid-feedback">*Este campo es requerido
                        </div>
                        <div *ngIf="cost.errors?.pattern" class="invalid-feedback">*Sólo carácteres numéricos</div>
                        <div class="valid-feedback">Ok!</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Servicios adicionales</label>
                <div class="col-md-7 d-flex flex-column">
                    <div class="form-check form-check-inline" *ngFor="let x of aditionalServices;let i=index">
                        <input class="form-check-input" type="checkbox" [checked]="x.select"
                            (click)="getAdditionalService(nameService.textContent,imageService.src,i,$event)"
                            (change)="selectedAditionalService($event,i,imageService.src)" [value]="x.name">
                        <label class="form-check-label servicio" #nameService>
                            <img id={{i}} src={{x.img}} height="25px" width="25px" #imageService>
                            {{x.name}}
                        </label>
                       
                    </div>
                    <a class="ml-4">
                        <input class="form-check-input " type="checkbox" (click)="handleBoxOtherservice()">
                        <label class="form-check-label servicio">
                            <img src='assets/icons/info.png' height="25px" width="25px">
                            otro
                        </label>
                        <div *ngIf="othersServiceInput">
                            <input class="col-md-9 col-form-label mr-2 form-control" name="otherService"  #otherService="ngModel" id="id" 
                            placeholder="Nombre del servicio" [ngClass]="{'is-invalid': (!otherService.valid && otherService.touched),'is-valid':(otherService.valid) }"
                            [(ngModel)]="other" required>
                            <div class="row">
                                <div class="upload-btn-wrapper">
                                    <div *ngIf="alertBadExtensionImageCoupon" class="alert alert-danger" role="alert">
                                        Por favor solo subir archivos que tengan como
                                        extensión .jpeg/.jpg/.png/.gif
                                    </div>
                                    <button class="btn1 btn btn-outline-primary">Cargar Imagen</button>
                                    <input type="file" (change)="selectImg($event)">
                                </div>
                                <button type="button" class="btn btn-outline-primary"
                                    (click)="addNewServiceadd()">Añadir
                                </button>
                                
                            </div>
                            <div *ngIf="loadingServicesAditionals" class="fa-3x text-center">
                                <i class="fas fa-spinner fa-pulse"></i>
                            </div>
                            <div *ngIf="otherService.errors?.required" class="invalid-feedback">
                                *Este campo es requerido
                            </div>
                            <div class="valid-feedback">Ok!</div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Tiempo promedio de entrega</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" min="0" placeholder="Tiempo promedio de entrega" #deliveryTime="ngModel"
                            pattern="[0-9]{1,3}" required
                            [ngClass]="{'is-invalid': (!deliveryTime.valid && deliveryTime.touched ),'is-valid':(deliveryTime.valid) }"
                            class="form-control" [(ngModel)]="preHeadquarters.averageDeliveryTime" name="deliveryTime">
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                        <div *ngIf="deliveryTime.errors?.required" class="invalid-feedback">*Este campo es requerido
                        </div>
                        <div *ngIf="deliveryTime.errors?.pattern" class="invalid-feedback">*Sólo carácteres numéricos
                        </div>
                        <div class="valid-feedback">Ok!</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-5 col-form-label">Contacto sede</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="contactHq" #contactHq="ngModel" minlength="3"
                        [ngClass]="{'is-invalid': (!contactHq.valid && contactHq.touched ),'is-valid':(contactHq.valid) }"
                        [(ngModel)]="preHeadquarters.headquartersContact" required placeholder="Contacto sede">
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Cargo</label>
                <div class="col-md-7">
                    <input class="form-control" placeholder="Cargo" type="text" name="chargeHq" #chargeHq="ngModel"
                        [ngClass]="{'is-invalid': (!chargeHq.valid && chargeHq.touched ),'is-valid':(chargeHq.valid) }"
                        [(ngModel)]="preHeadquarters.chargeHC" minlength="3" required>
                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Celular</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Celular" name="cellHq" pattern="^[3]\d{9}$"
                        [ngClass]="{'is-invalid': (!cellHq.valid && cellHq.touched) || cellHq.errors?.pattern ,'is-valid':(cellHq.valid) }"
                        [(ngModel)]="preHeadquarters.mobileHC" #cellHq="ngModel" required>
                    <div *ngIf="cellHq.errors?.required" class="invalid-feedback">*Este campo es requerido </div>
                    <div *ngIf="cellHq.errors?.pattern" class="invalid-feedback">*Ingrese un número de celular
                        válido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fijo</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" pattern="\([0-9]{3}\)[0-9]{3}[ -][0-9]{4}"
                        placeholder="Ej: (123)456-7891" name="telHq" [(ngModel)]="preHeadquarters.telephoneHC">
                    <div class="col-md-9">
                        <div class="form-control-feedback">
                            <small> *Indicador seguido del número:(123)456-7891 </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Correo</label>
                <div class="col-md-7">
                    <input class="form-control" type="email" placeholder="Correo" name="emailHq"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailHq="ngModel"
                        [ngClass]="{'is-invalid': (!emailHq.valid && emailHq.touched) || emailGeneralHq.errors?.pattern ,'is-valid':(emailHq.valid) }"
                        [(ngModel)]="preHeadquarters.emailHC" required>
                    <div *ngIf="emailHq.errors?.required" class="invalid-feedback">*Este campo es requerido
                    </div>
                    <div *ngIf="emailHq.errors?.pattern" class="invalid-feedback">*El campo no tiene formato de
                        correo</div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

        </section>

        <section class="col-10 col-sm-10 col-md-10 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center ">

            <div class="d-flex flex-column ">
                <div class="form-group row" style="margin-bottom: 5rem;">
                    <label class="">&nbsp;</label>
                    <div class="input-group">
                        <button *ngIf="!edit" [disabled]="shape.invalid" type="submit" class="btn btn-outline-primary" id="btnguardar">
                            Guardar
                        </button>
                        <button *ngIf="edit" (click)="updateHeadquarter()" [disabled]="!shape.valid" type="button" class="btn btn-outline-primary" id="btnguardar">
                            Actualizar
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="">&nbsp;</label>
                    <div class="input-group ">
                        <button type="button" (click)="cancel()" class="btn btn-outline-primary">
                            Cancelar
                        </button>
                    </div>
                </div>

            </div>
        </section>

    </form>


</div>