<ngx-spinner
bdOpacity = 0.6
bdColor = "rgba(255,255,255,0.6)"
size = "medium"
color = "rgb(207,44,126)"
type = "ball-atom"
[fullScreen] = "true"
>
</ngx-spinner>
<div class="container-fluid">
    <div class="PrincipalContainer">
            <app-app-navbar></app-app-navbar>
        <div class="row align-items-center justify-content-md-center">
            <div class="options-container2 row justify-content-md-center" >
                <div class="col-3 margin"> <div class="txt-center"> <p class="txt-title"> Información del establecimiento </p>  <img src="assets/icons/info.png" width="80px" > </div> </div>
                <div class="col-3 margin"> <div class="txt-center"> <p class="txt-title"> Informacion de la sede </p>  <img src="assets/icons/map.png" width="80px" > </div> </div>
                <div class="col-3 margin"> <div class="txt-center"> <p class="txt-title"> Editar menu </p>  <img src="assets/icons/online-menu.png" width="80px" > </div> </div>

            </div>
                
            <div class="options-container row  justify-content-md-center" >
                    <div class="col-3 margin"> <div class="txt-center"> <p class="txt-title"> Crear nueva sede </p>  <img src="assets/icons/market.png" width="80px" > </div> </div>
                    <div class="col-3 margin"> <div class="txt-center"> <p class="txt-title"> Perfiles </p>  <img src="assets/icons/teamwork.png" width="80px" > </div> </div>
    
                </div>

        
        </div>
       
    </div>
</div>