<ngx-spinner bdOpacity=0.6 bdColor="rgba(255,255,255,0.6)" size="medium" color="rgb(207,44,126)" type="ball-atom"
  [fullScreen]="false">
</ngx-spinner>
<div class="compenetsstyle ">

    <a class="mr-2">
        <img [routerLink]="[ '/main', 'bannerManager' ]" src="assets/icons/Back.png " class="tifi-icon-back">
    </a>

    <form novalidate="novalidate" class="form-banner" [formGroup]="formulary">

        <div class="row-form">
            <label for="exampleInputEmail1">Estado</label>
            <div class="row-form-radios" id="exampleInputEmail1">
                <div class="radio radio-success m-2 form-check form-check-inline">
                    <input class="form-check-input " type="radio" (click)="changeState()"
                        [checked]="state">
                    <label for="radio3">
                        Activo
                    </label>
                </div>

                <div class="radio radio-danger m-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" (click)="changeState()"
                        [checked]="!state">
                    <label for="radio4">
                        Inactivo
                    </label>
                </div>

                <div class="radio m-2 form-check form-check-inline" *ngIf="editBanner.id">
                    <input class="form-check-input" type="radio" name="radio2" id="radio5"
                        (click)="swallDeleteCoupon()">
                    <label for="radio5">
                        Eliminar
                    </label>
                </div>
            </div>
        </div>

        <div class="row-form">
            <label for="exampleInputPassword1">Código</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="code">
        </div>

        <div class="row-form">
            <label for="exampleInputPassword1">Fecha Creación</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="creationDate">
        </div>

        <div class="row-form">
            <label for="exampleInputPassword1">Fecha Vencimiento</label>
            <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
            <!-- <div class="form-group"> -->
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                    formControlName="expirationDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button">
                        <img src="assets/icons/calendar.png" style="width: 1rem;" alt="">
                    </button>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="row-form">
            <label for="exampleInputPassword1">Establecimiento</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="idAllies">
                <option value="">selecione</option>
                <option *ngFor="let ally of allies" [value]="ally.id">{{ ally.name }}</option>
            </select>
        </div>
        <div class="row-form">
            <label for="exampleInputPassword1">Sede</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="idHeadquarters">
                <option value="">selecione</option>
                <option *ngFor="let head of heads" [value]="head.id">{{ head.name }}</option>
            </select>
        </div>
        <div class="row-form">
            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                formControlName="description" placeholder="Description del banner..."></textarea>
            <!-- <input type="text" class="form-control" id="exampleInputPassword1"  > -->
        </div>
        <div class="row-form">
            <label for="exampleInputPassword1">Nombre</label>
            <input type="text" class="form-control" placeholder="nombre del Banner" id="exampleInputPassword1" formControlName="name">
        </div>

        <div class="container-fluid d-flex justify-content-center mt-4">
            <button type="button" class="btn btn-primary" (click)="saveBanner()">Guardar</button>
        </div>

        <div *ngIf="showinfocontent" class="showalert" >Todos los campos deben estar Diligenciados</div>
        <!-- <div *ngIf="showinfocontent" class="showalert" >Solo ingrese caracteres váidos</div> -->
    </form>
    <div class="form-img">

        <figure class="figure">
            <img [src]=" editBanner.imageBanner ? editBanner.imageBanner: 'assets/img/antojo.png'" class="figure-img img-fluid rounded" alt="..." id='photo'>
        </figure>

        <input style="display: none;" type="file" class=" btn btn-primary" id="inputGroupFile04" (change)="photoSelected($event)">
        <label class="btn btn-primary" for="inputGroupFile04">Cargar Imagen</label>
        <div class="showalert" *ngIf="showimgalert">Seleccione una Imagen valida</div>
        <div *ngIf="showinfocontent" class="showalert" >Seleccione una imagen</div>
    </div>

</div>