<nav class="navbar navbar-light" style="background-color: #572483">
    <div class="d-flex flex-row align-content-center align-items-center  navbar-brand" href="#">
        <img src="assets/img/logotifi.png" class="img-logotifi">

        <button class="btn btn-link" type="button">  
                <i style="color: white; font-size: 30px;" class="fas fa-bars"></i>
        </button>

        <div class="img-round1">
            <img class="img-allyLogo" src='https://www.stickpng.com/assets/images/58429977a6515b1e0ad75ade.png'>
        </div>

        <div>
            <p class="text-with-out textLyrics1 ">KFC</p>
            <p class="text-with-out textLyrics2 ">Sede: galerías</p>
        </div>

        <div class="align-date">
            <p class="text-with-out textLyrics1">{{time}}</p>
            <p class="text-with-out textLyrics2">{{date}}</p>
        </div>

    </div>
</nav>