<nav class="navbar fixed-top navbar navbar-light " style="background-color: #572483">

    <section class="d-flex align-items-center justify-content-center navbar-brand col-7">

        <img src="assets/img/logotifi.png" class="img-logotifi">


        <!-- <button class="btn btn-link" type="button">
            <i style="color: white; font-size: 30px;" class="fas fa-bars"></i>
        </button> -->
        <app-side-bar></app-side-bar>

            <div href="#" class="img-round1 display-none-sm ">
                <img class="img-allyLogo " [src]='profile.photo'>

                <div *ngIf="profile.nameCharge != 'administradorTIFI'" class=" notification">
                    <span class="badge">2</span>
                </div>
            </div>


            <div class=" display-none-sm">
                <p *ngIf="profile.nameCharge != 'administradorTIFI'" class="text-with-out textLyrics1 ">
                    {{profile.nameAllie}}</p>
                <p *ngIf="profile.nameCharge == 'administradorTIFI'" class="text-with-out textLyrics1 "
                    style="font-size: 1.2rem;"> {{profile.nameCharge}} </p>
                <p *ngIf="profile.nameCharge != 'administradorTIFI'" class="text-with-out textLyrics2 ">Sede:
                    {{profile.nameHeadquarter}}</p>
            </div>

    </section>

    <section class="col-4 d-flex justify-content-start">
        <div class=' align-date ' aria-controls="navbarSupportedContent" aria-expanded="false">
            <p class="text-with-out textLyrics1">{{time}}</p>
            <p class="text-with-out textLyrics2">{{date}}</p>
        </div>
    </section>
</nav>