<app-header></app-header>
<div class="row align-items-center justify-content-md-center">
    <div class="col-1">
        <img src="assets/icons/back-button.png" height="30px" width="30px" alt="">
    </div>

    <div class="col-2">
        <div class="filter-container  margin">
            <p class="txt-center">Nombre establecmiento</p>

        </div>
    </div>
    <div class="col-2">
        <div class="filter-container  margin">
            <p class="txt-center"> Buscar por codigo</p>
        </div>
    </div>
    <div class="col-4">
        <div class="filter-container  margin">
            <p class="txt-center"> Busca establecmiento</p>
        </div>
    </div>
    <div class="col-2">
        <div class="filter-container  margin">
            <p class="txt-center"> Crear aliado</p>
        </div>
    </div>
</div>
<div class="row margin-table justify-content-md-center table-style">
    
<table class="table text-table">
    <thead>
      <tr class="border-left border-radius  border-right" >
        <th class="align-middle"  scope="col">Codigo</th>
        <th class="align-middle"  scope="col">Logo</th>
        <th class="align-middle"  scope="col">Nombre establecmiento</th>
        <th class="align-middle"  scope="col">Numero de sedes</th>
        <th class="align-middle"  scope="col">Servicios</th>
        <th class="align-middle"  scope="col">Tipo de aliado</th>
        <th class="align-middle"  scope="col">Tipo de comida</th>
        <th class="align-middle"  scope="col">Horario</th>
      </tr>
    </thead>
    <tbody class="margin-10">
        <tr class="border-left border-radius  border-right allborder" >
            <td>codigo</td>
            <td><img src="assets/icons/astronaut.png" height="60px" width="60px" alt=""> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>
  </div>

