.filter-container{
    border-radius: 10px;
    border-color: gray;
    border-width: 0.5px;
    border-style: solid;
}

.txt-center{
    text-align: center;
}

.container-filter{
    margin: 5%;
    
}

.text-table{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.border-radius{
    border-radius: 20px;   
}



.border-left{
    border-left: solid 0.5px gray;
}

.border-right{
    border-right: solid 0.5px gray;
}

.allborder{
    border-top: solid 0.5px gray;
    border-bottom: solid 0.5px rgb(182, 181, 181);
}

.margin{
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px 8px 0px 8px;
   
}

.table-style{
    padding-left: 5%;
    padding-right: 5%;
}

.margin-table{
    margin-top: 20px;
}

.margin-10{
    margin-top: 10px;
}