@import "../../../styles.scss";

html, body {
    min-height: 100%;
}

.container-fluid{
    height: 100vh;
    padding: 0px;
    background-color: $principal-color;
}

.PrincipalContainer{
    height: 100%;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.background-header{
    padding: 5px;
    color: white;
    background-color: $principal-color;
}

.tifi-title{
    width: 20%;
}

.white-border{
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    width: 260px;
    border-color: white;
    border-width: 1px;
}

.div-center{
    align-self: center;
    width: 400px;
    height: 100%;
    margin-top: 8%;
    align-content: center;
}

.button-style{
    width: 30%;
    background-color: $principal-color;
    padding: 4px;
    margin-left: 36%;
    color: white;
    margin-top: 5%;
}