<div class="container-fluid">
    <div class="PrincipalContainer">
            <app-app-navbar></app-app-navbar>
            <div class="row align-items-center justify-content-md-center ">
                    <h4 class="text-center title" >¡¡ Ya casi !!</h4>
            </div>
            <div class="row align-items-center justify-content-md-center">
                    <small id="emailHelp" class="text-center span-text form-text text-muted">
                        Por favor ingresa tu contraseña, recuerda que debe contener por<br>
                        lo menos 8 caracteres entre numeros, letras y mayúsculas
                    </small>

            </div>
        <div class="row align-items-center justify-content-md-center">
                <form class="div-center">
                        <div class="form-group">
                                        <show-hide-password size="sm" btnStyle="#fff" [btnOutline]="false">
                                                        <input placeholder="Nueva contraseña" [(ngModel)]="password" type="password" name="password" >
                                                      </show-hide-password>
                                
                              </div>
                        
                              <div class="form-group">
                                        <show-hide-password size="sm" btnStyle="#fff" [btnOutline]="false">
                                                        <input placeholder="Repetir contraseña" [(ngModel)]="verifyPassword" type="password" name="..." >
                                                      </show-hide-password>
                                
                              </div>
                        
                              <button (click)="resetPassword()" type="button" class="btn button-style">Cambiar</button>

                </form>
                
        </div>
       
    </div>
</div>