<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header ">
            <img [src]="profile.photo" alt="..."
                class="rounded-circle img">
            <div class="d-flex mt-2 flex-column">
                <p class="text-center text-Margin-botton textStablishment"> {{profile.name }} </p>
                <p class="text-Margin-botton">Cargo: {{profile.nameCharge}} </p>
                
            </div>
            <!-- <div class="d-flex mt-3 flex-column" >
               <strong>
                <p  class="text-with-out textLyrics1" style="font-size: .8rem;"> {{profile.name | uppercase }}</p>
               </strong> 
                <p  class="text-with-out textLyrics1"
                    style="font-size: 1rem;"> {{profile.nameCharge | uppercase }} </p>
            </div> -->
            <button [routerLink]="['/main/createProfile/', profile.id]" type="button" class="btn btn-link colorBackGround" style="margin-top: 15px;">Editar</button>
        </div>
        <ul class="list-unstyled components" style="text-align: center; width: 100%; ">
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                <a *ngIf="profile.showContent.pqrs" [routerLink]="[ '/main', 'pqrList' ]" class="notification" style="margin-right: 40px;">
                    <i class="fas fa-envelope icon-style icon"></i>
                    <span class="badge"><app-notifications-pqrs></app-notifications-pqrs></span>
                </a>
                <a *ngIf="profile.showContent.principal" [routerLink]="['/main/principal-orders']" class="notification">
                    <i class="fas fa-bell icon"></i>
                    <span class="badge"><app-notifications-orders></app-notifications-orders></span>                
                </a>
            </div>
            <li  *ngIf="profile.showContent.options" routerLinkActive="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="d-flex flex-row">
                    <div class="col-11 ">
                        Menú
                    </div>
                    <div class="col-1 iconArrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a [routerLink]="['/main','allyManager']">Admin Aliados</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'userManager', -1]">Admin Usuarios</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'allyManager', -2 ]">Admin Promos</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'couponManager' ]">Admin de cupones</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'reportGenerator' ]">Generar Informes</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'pqrList' ]">Admin de Pqrs</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'bannerManager' ]">Admin de Banners</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'tycManager' ]">Admin de T y C</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="profile.showContent.principal" >
                <a href="#about" data-toggle="collapse" aria-expanded="false" class="d-flex flex-row">
                    <div class="col-11 ">
                       Menú
                    </div>
                    <div class="col-1 iconArrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
                <ul class="collapse list-unstyled" id="about">

                    <li>
                        <a [routerLink]="[ '/main', 'principal-orders' ]">Principal</a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/main', 'reportGenerator' ]">Generar Informes</a>
                    </li>

                </ul>
            </li>
            <li *ngIf="profile.showContent.reports" >
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="d-flex flex-row">
                    <div class="col-11">
                        Menú
                    </div>
                    <div class="col-1 iconArrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a [routerLink]="[ '/main', 'reportGenerator' ]">Generar Informes</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="profile.showContent.pqrs" >
                <a href="#portafolio" data-toggle="collapse" aria-expanded="false" class="d-flex flex-row">
                    <div class="col-11">
                        Menú
                    </div>
                    <div class="col-1 iconArrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
                <ul class="collapse list-unstyled" id="portafolio">
                    <li>
                        <a [routerLink]="[ '/main', 'pqrList' ]">Admin de Pqrs</a>
                    </li>
                </ul>
            </li>
            
        </ul>
        <a aria-expanded="false">
            <button (click)="signOut()" type="button" class="btn btn-link btnLougOut colorBackGround">Cerrar
                sesión</button>
        </a>

    </nav>

    <!-- Page Content -->

    <button class="btn btn-link" type="button" id="sidebarCollapse">
        <i style="color: white; font-size: 30px;" class="fas fa-bars"></i>
    </button>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>