<div class="wrapper">

    <!-- Sidebar -->
    <nav *ngIf= "mostrar" id="sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <!-- <h3>Bootstrap Sidebar</h3> -->
            <img src="" class="rounded d-block" alt="...">
            <p> {{Stablishment}} </p>
            <p>Sede: {{headquarters}} </p>
            <button type="button" class="btn btn-link">Editar</button>

        </div>

        <div class="d-flex flex-row bd-highlight mb-3">
            <!-- <p class="txt-center margin-sides"> <img class="icon-style" src="../../../assets/icons/logout.png" >  </p> -->
            <i class="fas fa-envelope icon-style"></i>
            <i class="fas fa-bell"></i>
        </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#pageSumenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="pageSumenu1">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="btn btn-link">Cerrar Sesion</button>
                </li>
            </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button (click)="mostrar= !mostrar" type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
        </nav>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> -->
</div>