<div class="compenetsstyle px-5" style="background-color: #e9e7e7;">

    <div class="container-fluid">
        <div class="m-3 d-flex flex-row ">

            <div class="container-fluid" style="width: 25%;">
                <a [routerLink]='["/main"]' class="d-flex mr-2">
                    <img src="assets/icons/Back.png" class="tifi-icon-back">
                </a>

            </div>

            <form class="form-inline container-fluid justify-content-end" style="width: 75%;" #formadate>
                <div class="form-group hidden">
                    <div class="input-group">
                        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                            [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                            [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" form-control
                            [value]="formatter.format(fromDate)"
                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                type="button">Desde</button>
                        </div>
                    </div>
                </div>
                <div class="form-group ml-2">
                    <div class="input-group">
                        <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                type="button">Hasta</button>
                        </div>
                    </div>
                </div>
                <button (click)=" SeachingRange()" type="button"
                    class="btn btn-outline-primary m-2 my-sm-0">Buscar</button>
                <button (click)="clear() " type="button" class="btn btn-outline-primary my-2 my-sm-0">limpiar</button>
            </form>
        </div>
    </div>
    <div *ngIf="profile.reportPermissions.reportComplete" class="container-fluid">
        <div class="tableFixHead">
            <table id="excel-table-general">

                <thead>
                    <tr>
                        <th class="text-center">C. sede</th>
                        <th class="text-center">Establecimiento</th>
                        <th class="text-center">zona</th>
                        <th class="text-center">C. Pedido</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">T. servicio</th>
                        <th class="text-center">Valor Pedido</th>
                        <th class="text-center">F. Reserva</th>
                        <th class="text-center">H. Reserva</th>
                        <th class="text-center">F. Entrega</th>
                        <th class="text-center">H Entrega</th>
                        <th class="text-center">Control Pedidos</th>
                        <!-- <th class="text-center">Catidad</th> -->
                        <th class="text-center">Cantidad/Plato</th>
                        <th class="text-center">V. unidad</th>
                        <th class="text-center">Costo reserva IVA</th>
                        <th class="text-center">valor T. con-reserva</th>
                        <th class="text-center">valor T. sin-reserva</th>
                        <th class="text-center">Costo reserva sin IVA</th>
                        <th class="text-center">% Intermediación</th>
                        <th class="text-center">Valor Intermediación sin IVA</th>
                        <th class="text-center">Valor Intermediación IVA</th>
                        <th class="text-center">Valor T. Intermediación y Reserva</th>
                        <th class="text-center">Valor a pagar-Aliado</th>
                    </tr>

                </thead>
                <tbody class="mt-5">
                    <tr *ngFor="let order of newdateArray; let i = index " class="text-center">

                        <td>{{ order.idHeadquarter.slice(17, order.idHeadquarter.length) }}</td>
                        <td>{{ order.ally }}</td>
                        <td>{{ order.location }}</td>
                        <td>{{ order.codeOrder }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.typeOfService }}</td>
                        <td>{{ order.purchaseAmount }}</td>
                        <td>{{ order.registerDate.split(" ")[0] }}</td>
                        <td>{{ order.registerDate.split(" ")[1] +""+ order.registerDate.split(" ")[2] }}</td>
                        <td>{{ order.dateAndHourDelivery.split(" ")[0] }}</td>
                        <td>{{ order.dateAndHourDelivery.split(" ")[1] + order.dateAndHourDelivery.split(" ")[2] }}</td>
                        <td>{{ order.controlOrder ? "si" : "No" }}</td>

                        <!-- <td>
                            <tr *ngFor="let quantity of order.quantity" >{{quantity}}</tr>
                        </td> -->
                        <td>
                    <tr *ngFor=" let dish of order.nameDishe; let i = index">
                        {{ order.quantity[i] + "-" + dish }}
                    </tr>
                    </td>
                    <td>
                        <tr *ngFor="let valueDishe of order.valueDishe">{{valueDishe}}</tr>
                    </td>
                    <td>{{"$ " + order.costReservationIva }}</td>
                    <td>{{"$ " + order.purchaseAmount }}</td>
                    <td>{{"$ " + order.valueTotalWithoutRes }}</td>
                    <td>{{"$ " + order.costReservation }}</td>
                    <td>{{ order.percent }}</td>
                    <td>{{"$ " + order.valueIntermediation  }}</td>
                    <td>{{"$ " + order.valueIntermediationIva  }}</td>
                    <td>{{"$ " + order.valueTotalIntRes }}</td>
                    <td>{{"$ " + order.valueForAlly }}</td>

                    </tr>
                    <tr>
                        <td colspan="21">
                            <div *ngIf="loadingUsers" class="fa-3x text-center">
                                <i class="fas fa-spinner fa-pulse"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!newdateArray.length && !loadingUsers">
                        <td colspan="21"> No existen registros para este rango de fechas </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
    <!-- report admin pdv -->

    <div *ngIf="profile.reportPermissions.reportadminpdv" class="container-fluid">
        <div class="tableFixHead">
            <table>

                <thead>
                    <tr>
                        <th class="text-center">C. sede</th>
                        <th class="text-center">Establecimiento</th>
                        <th class="text-center">zona</th>
                        <th class="text-center">C. Pedido</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">T. servicio</th>
                        <th class="text-center">Valor Pedido</th>
                        <th class="text-center">F. H. Reserva</th>
                        <th class="text-center">F. H Entrega</th>
                        <th class="text-center">Control Pedidos</th>
                        <!-- <th class="text-center">Catidad</th> -->
                        <th class="text-center">Cantidad/Plato</th>
                        <th class="text-center">V. unidad</th>
                        <th class="text-center">Costo reserva IVA</th>
                        <th class="text-center">valor T. con-reserva</th>
                        <th class="text-center">valor T. sin-reserva</th>
                        <!-- <th class="text-center">Costo reserva sin IVA</th>
                        <th class="text-center">% Intermediación</th> 
                        <th class="text-center">Valor Intermediación sin IVA</th>
                        <th class="text-center">Valor Intermediación IVA</th>
                        <th class="text-center">Valor T. Intermediación y Reserva</th>
                        <th class="text-center">Valor a pagar-Aliado</th> -->
                    </tr>

                </thead>
                <tbody class="mt-5">
                    <tr *ngFor="let order of newdateArray; let i = index " class="text-center">

                        <td>{{ order.idHeadquarter.slice(17, order.idHeadquarter.length) }}</td>
                        <td>{{ order.ally }}</td>
                        <td>{{ order.location }}</td>
                        <td>{{ order.codeOrder }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.typeOfService }}</td>
                        <td>{{ order.purchaseAmount }}</td>
                        <td>{{ order.registerDate }}</td>
                        <td>{{ order.dateAndHourDelivery }}</td>
                        <td>{{ order.controlOrder ? "si" : "No" }}</td>

                        <!-- <td>
                            <tr *ngFor="let quantity of order.quantity" >{{quantity}}</tr>
                        </td> -->
                        <td>
                    <tr *ngFor=" let dish of order.nameDishe; let i = index">
                        {{ order.quantity[i] + "-" + dish }}
                    </tr>
                    </td>
                    <td>
                        <tr *ngFor="let valueDishe of order.valueDishe">{{ "$ " + valueDishe}}</tr>
                    </td>
                    <td>{{"$ " + order.costReservationIva }}</td>
                    <td>{{"$ " + order.purchaseAmount }}</td>
                    <td>{{"$ " + order.valueTotalWithoutRes }}</td>
                    <!-- <td>{{"$ " + order.costReservation }}</td>
                        <td>{{ order.percent + "%" }}</td>
                        <td>{{"$ " + order.valueIntermediation  }}</td>
                        <td>{{"$ " + order.valueIntermediationIva  }}</td>
                        <td>{{"$ " + order.valueTotalIntRes }}</td>
                        <td>{{"$ " + order.valueForAlly }}</td> -->

                    </tr>
                    <tr>
                        <td colspan="21">
                            <div *ngIf="loadingUsers" class="fa-3x text-center">
                                <i class="fas fa-spinner fa-pulse"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!newdateArray.length && !loadingUsers">
                        <td colspan="21"> No existen registros para este rango de fechas </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div *ngIf="profile.reportPermissions.reportsummary" class="container-fluid">
        <div class="tableFixHead">
            <table id="excel-table-cajero">

                <thead>
                    <tr>
                        <th class="text-center">C. sede</th>
                        <th class="text-center">Establecimiento</th>
                        <th class="text-center">zona</th>
                        <th class="text-center">C. Pedido</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">T. servicio</th>
                        <th class="text-center">Valor Pedido</th>
                        <th class="text-center">F. H. Reserva</th>
                        <th class="text-center">F. H Entrega</th>
                        <th class="text-center">Control Pedidos</th>
                        <!-- <th class="text-center">Catidad</th> -->
                        <th class="text-center">Cantidad/Plato</th>

                    </tr>

                </thead>
                <tbody class="mt-5">
                    <tr *ngFor="let order of newdateArray; let i = index " class="text-center">

                        <td>{{ order.idHeadquarter.slice(17, order.idHeadquarter.length) }}</td>
                        <td>{{ order.ally }}</td>
                        <td>{{ order.location }}</td>
                        <td>{{ order.codeOrder }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.typeOfService }}</td>
                        <td>{{ order.purchaseAmount }}</td>
                        <td>{{ order.registerDate }}</td>
                        <td>{{ order.dateAndHourDelivery }}</td>
                        <td>{{ order.controlOrder ? "si" : "No" }}</td>

                        <!-- <td>
                            <tr *ngFor="let quantity of order.quantity" >{{quantity}}</tr>
                        </td> -->
                        <td>
                    <tr *ngFor=" let dish of order.nameDishe; let i = index">
                        {{ order.quantity[i] + "-" + dish }}
                    </tr>
                    </td>
                    </tr>
                    <tr>
                        <td colspan="21">
                            <div *ngIf="loadingUsers" class="fa-3x text-center">
                                <i class="fas fa-spinner fa-pulse"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!newdateArray.length && !loadingUsers">
                        <td colspan="21"> No existen registros para este rango de fechas </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
    <div class="container-fluid text-center mt-3">

        <button *ngIf="profile.reportPermissions.reportsummary" type="button" (click)="generatePdf()"
            class="btnForInforms" data-toggle="modal" data-target="#exampleModalCenter"> <img src="assets/icons/pdf.png"
                class="tifi-icon-back">
            Descargar PDF</button>

        <button *ngIf="profile.reportPermissions.reportadminpdv" type="button" (click)="generateReportPDVPdf()"
            class="btnForInforms" data-toggle="modal" data-target="#exampleModalCenter"> <img src="assets/icons/pdf.png"
                class="tifi-icon-back">
            Descargar PDF</button>

        <button *ngIf="profile.reportPermissions.reportComplete" type="button" (click)="generateExcel()"
            class="btnForInforms" data-toggle="modal" data-target="#exampleModalCenter"><img
                src="assets/icons/excel.png" class="tifi-icon-back">Descargar excel</button>
    </div>
</div>