<app-app-navbar></app-app-navbar>
<div class="row margin-container compenetsstyle ">
    <div class="col-1">
        <div class="row justify-content-center">  <img src="assets/icons/back-button.png" height="30px" width="30px" alt=""> </div>
       
    </div>

    <div class="col-5 align-items-center">
        <div class="filter-container  margin">
            <div class="row">
                <div class="col-5 align-items-center"> <label>Nombre del establecimiento</label></div>
                <div class="col align-items-center"><input class="width-defined" type="text" name="Name" [(ngModel)]="aliado.name"  ></div>     
              </div>
        </div>

        <div class="col-5 align-items-center">
                <div class="filter-container  margin">
                        <div class="row">
                                <div class="col-5 align-items-center"> <label>Nombre del establecimiento</label></div>
                                <div class="col align-items-center">
                                        <input class="width-defined" type="text" name="Name" [(ngModel)]="aliado.name">
                                </div>
                        </div>
                </div>
                <div class="filter-container  margin">
                        <div class="row">
                                <div class="col-5"><label>Nit</label></div>
                                <div class="col"><input class="width-defined" type="text" name="nit"
                                                [(ngModel)]="aliado.nit"></div>
                        </div>
                </div>
                <div class="filter-container  margin">
                        <div class="row">
                                <div class="col-5"><label>Representante legal</label></div>
                                <div class="col"><input class="width-defined" type="text" name="representante"
                                                [(ngModel)]="aliado.representante"></div>
                        </div>

                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Cedula</label> </div>
                                <div class="col"> <input class="width-defined" type="text" name="cedula"
                                                [(ngModel)]="aliado.cedula"> </div>

                        </div>
                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Logo de establecimiento</label> </div>
                                <div class="col">
                                        <div class="row align-items-center width-defined">
                                                <div class="photo"> <img id="photo" width="80px" height="80px"> </div>
                                                <div class="upload-btn-wrapper">
                                                        <button class="btn1 btn btn-outline-primary">Cargar
                                                                Imagen</button>
                                                        <input type="file" name="photo"
                                                                (change)="onPhotoSelected($event)" />
                                                </div>
                                        </div>

                                </div>

                        </div>
                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Color para entidad</label> </div>
                                <div class="col">
                                        <div class="row  margin-left2 width-defined">

                                                <input [(ngModel)]="aliado.colors[0]" class="colors" type="number"
                                                        placeholder="Rojo">
                                                <input [(ngModel)]="aliado.colors[1]" class="colors" type="number"
                                                        placeholder="Verde">
                                                <input [(ngModel)]="aliado.colors[2]" class="colors" type="number"
                                                        placeholder="Azul">

                                        </div>
                                </div>

                        </div>
                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Tipo de establecimiento</label> </div>
                                <div class="col">
                                        <select class="browser-default custom-select width-defined"
                                                [(ngModel)]="aliado.establecimiento">
                                                <option selected>---------------------</option>
                                                <option *ngFor="let time of TipoEstablecimiento" [value]="time">{{time}}
                                                </option>
                                        </select>
                                </div>

                        </div>
                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Numero de puntos</label> </div>
                                <div class="col">
                                        <select class="browser-default custom-select width-defined"
                                                [(ngModel)]="aliado.puntos">
                                                <option selected>---------------------</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                        </select>
                                </div>

                        </div>
                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Categoria de comida</label> </div>
                                <div class="col">
                                        <select class="browser-default custom-select width-defined"
                                                [(ngModel)]="aliado.categoria">
                                                <option selected>---------------------</option>
                                                <option *ngFor="let time of Categoria" [value]="time">{{time}}</option>
                                        </select>
                                </div>

                        </div>
                </div>

                <div class="filter-container margin">
                        <div class="row">
                                <div class="col-5"><label>Descripcion </label> </div>
                                <div class="col">
                                        <textarea [(ngModel)]="aliado.descripcion"
                                                class="form-control rounded-0 width-defined"
                                                id="exampleFormControlTextarea2" rows="2"></textarea>
                                </div>

                        </div>
                </div>


        </div>


        <div class="col-4">

                <div class="filter-container  margin">
                        <div class="row">
                                <div class="col-3"> <label>Horario</label> </div>
                                <div class="col">
                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Dia</p>
                                                </div>
                                                <div class="horario center">
                                                        <p>Apertura</p>
                                                </div>
                                                <div class="horario center">
                                                        <p>Cerrado</p>
                                                </div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Lunes</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[0].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[0].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Martes</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[1].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[1].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Miercoles</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[2].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[2].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Jueves</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[3].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[3].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Viernes</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[4].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[4].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Sabado</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[5].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[5].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>

                                        <div class="row">
                                                <div class="horario center">
                                                        <p>Domingo</p>
                                                </div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[6].from"
                                                                class="width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                                <div class=" center"><select [(ngModel)]="aliado.days[6].to"
                                                                class=" width-horario browser-default custom-select width-defined">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of horas" [value]="time">
                                                                        {{time}}</option>
                                                        </select></div>
                                        </div>



                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-3"><label>Imagenes</label> </div>
                        <div class="col align-items-center">
                                <div class="row align-items-center">

                                        <P *ngIf="imagesUploaded.length==0"
                                                style="margin-top: 20px; margin-right: 10px; color: crimson; ">No hay
                                                imagenes subidas</P>
                                        <ng-image-slider *ngIf="imagesUploaded.length>0"
                                                style="width: 230px; height: 120px; margin-top: 10px;"
                                                [imageSize]="imageSize" [images]="imagesUploaded" #nav>
                                        </ng-image-slider>


                                        <div class="upload-btn-wrapper">
                                                <button class="btn1 btn btn-outline-primary">Agregar</button>
                                                <input type="file" name="photo" (change)="onImagesSelected($event)" />
                                        </div>
                                </div>

                        </div>
                </div>


        </div>