<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">

  <div class="filerControl px-1">

    <div style="width: 5%;" class="d-flex align-items-center" (click)="back()">
      <a class="d-flex">
        <img src="assets/icons/Back.png" class="tifi-icon-back">
      </a>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [formGroup]="table">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link">Nombre</a>
            <input class="form-control" type="text" (keyup)="search(name.value, name.id)" #name id="name"
              formControlName="name">
          </li>
          <li class="nav-item">
            <a class="nav-link">Correo</a>
            <input class="form-control" type="text" (keyup)="search( email.value, email.id )" #email id="email"
              formControlName="email">
          </li>
          <li class="nav-item">
            <a class="nav-link">Celular</a>
            <input class="form-control" type="text" id="phone" (keyup)="search(cellphone.value, cellphone.id)"
              #cellphone formControlName="phone">
          </li>
          <li class="nav-item">
            <a class="nav-link">F. Nacimiento</a>
            <input class="form-control" type="text" id="birthday" (keyup)="search(birthday.value, birthday.id)"
              #birthday formControlName="birthday">
          </li>
          <li class="nav-item">
            <a class="nav-link">Género</a>
            <input class="form-control" type="text" id="gender" (keyup)="search(gender.value, gender.id)" #gender
              formControlName="gender">
          </li>
          <li class="nav-item">
            <a class="nav-link">Establecimiento</a>
            <input class="form-control" type="text" id="nameAllie"
              (keyup)="search(establishment.value, establishment.id)" #establishment formControlName="nameAllie">
          </li>
          <li class="nav-item">
            <a class="nav-link">Sede</a>
            <input class="form-control" type="text" id="nameHeadquarter" (keyup)="search(headquart.value, headquart.id)"
              #headquart formControlName="nameHeadquarter">
          </li>
          <li class="nav-item">
            <a class="nav-link">Usabilidad</a>
            <input class="form-control" type="text" id="usability" (keyup)="search(usability.value, usability.id)"
              #usability formControlName="usability">
          </li>
          <li class="nav-item">
            <a class="nav-link">M. compra</a>
            <input class="form-control" type="text" id="purchaseAmount" (keyup)="search(quantity.value, quantity.id)"
              #quantity formControlName="purchaseAmount">
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class=" filterDateGen">

    <div class="filterGen">
      <input class="form-control text-center " id="general" type="text" placeholder="Buscar.." #general
        (keyup)="search(general.value)" [(ngModel)]="generalsearch">
    </div>

    <div class="filterDate">
      <form class="form-inline d-flex justify-content-end " #formadate>
        <div class="form-group hidden">
          <div class="input-group">
            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
              [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
              outsideDays="hidden" [startDate]="fromDate">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" form-control
              [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
            <div class="input-group-append">
              <button class="btn btn-outline-primary calendar" (click)="datepicker.toggle()"
                type="button">Desde</button>
            </div>
          </div>
        </div>
        <div class="form-group ml-2">
          <div class="input-group">
            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
              [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
            <div class="input-group-append">
              <button class="btn btn-outline-primary calendar" (click)="datepicker.toggle()"
                type="button">Hasta</button>
            </div>
          </div>
        </div>
        <div class=" container-fluid d-flex flex-row p-2 justify-content-end">

          <button (click)=" search()" type="button" class="btn btn-outline-primary m-2 my-sm-0 ml-3">Buscar</button>
          <button (click)="clear() " type="button" class="btn btn-outline-primary my-2 my-sm-0">limpiar</button>

        </div>
      </form>
    </div>
  </div>

  <div class="tableFixHead mt-5">
    <table>

      <thead>
        <tr>
          <th class="text-center">Fecha</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Celular</th>
          <th class="text-center">F. Nacimiento</th>
          <th class="text-center">Género</th>
          <th class="text-center">Establecimiento</th>
          <th class="text-center">Sede</th>
          <th class="text-center">Usabilidad</th>
          <th class="text-center">Monto compras</th>
          <th class="text-center">Seleccionar<input type="checkbox" class="m-2" [value]="newdateArray" name="selectall"
              (change)="selectedAll($event)"> </th>
        </tr>

      </thead>
      <tbody class="mt-5">
        <tr *ngFor="let user of newdateArray; let i = index " class="text-center">
          <td>{{user.registerDate}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.birthday}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.nameAllie}}</td>
          <td>{{user.nameHeadquarter}}</td>
          <td>{{user.usability}}</td>
          <td>{{user.purchaseAmount}}</td>
          <td><input type="checkbox" class="m-1" [checked]="user.selected" (change)="selectedOne($event, i)"></td>
        </tr>
        <tr>
          <td colspan="11">
            <div *ngIf="loadingUsers" class="fa-3x text-center">
              <i class="fas fa-spinner fa-pulse"></i>
            </div>
          </td>
        </tr>
        <tr *ngIf=" !newdateArray.length && !loadingUsers ">
          <td colspan="11">No hay Resultados</td>
        </tr>
      </tbody>

    </table>
  </div>

  <div style="margin-top: 2rem; " class=" container-fluid d-flex btnInfos justify-content-between">
    <div class="d-flex justify-content-center container-fluid">
      <button type="button" class="btnForInforms mr-5 " style="background-color: #92d050;" (click)="sendCupons()"
        data-toggle="modal" data-target="#exampleModalCenter">Enviar cupones
      </button>
      <button *ngIf="!isIdPromotion" type="button" class="btnForInforms" style="background-color: #f4b081"
        (click)="loadAllies(modalpromos)">Enviar promociones</button>
      <button *ngIf="isIdPromotion" type="button" class="btnForInforms" style="background-color: #f4b081"
        (click)="sendPromos()">Enviar promociones</button>
    </div>



    <div class="d-flex justify-content-center container-fluid">
      <button *ngIf="userSelected.length" type="button" class="btnForInforms mr-5" (click)="datafor_Excel()"
        data-toggle="modal" data-target="#exampleModalCenter">
        <img src="assets/icons/excel.png" class="tifi-icon-back">
        Generar Excel</button>

      <button *ngIf="!userSelected.length" type="button" class="btnForInforms mr-5" (click)="loadAllies('hola')">
        <img src="assets/icons/excel.png" class="tifi-icon-back"> Generar Excel</button>

      <button *ngIf="userSelected.length" type="button" (click)="datafor_pdf()" class="btnForInforms"
        data-toggle="modal" data-target="#exampleModalCenter">
        <img src="assets/icons/pdf.png" class="tifi-icon-back"> Generar PDF</button>

      <button *ngIf="!userSelected.length" type="button" (click)="loadAllies('hola')" class="btnForInforms">
        <img src="assets/icons/pdf.png" class="tifi-icon-back"> Generar PDF</button>

    </div>
  </div>


  <!-- Modal Excel-->
  <div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div *ngIf="typeExcel" class="modal-header" style="background-color: #1f6f43;">
          <h5 class="modal-title" id="exampleModalCenterTitle" style="color: white;">Generar Excel</h5>
          <button type="button" class="btn btn-outline-success ml-3" (click)="generateExcel()"> Descargar</button>
          <!-- <button class="btn btn-outline-warning ml-3" [useExistingCss]="true" printSectionId="table-print"
            ngxPrint>Imprimit</button> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="typepdf" class="modal-header" style="background-color: #f71f20;">
          <h5 class="modal-title" id="exampleModalCenterTitle" style="color: white;">Generar PDF</h5>
          <button type="button" class="btn btn-outline-light ml-3" (click)="generatePdf()"> Descargar</button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="typeCoupon" class="modal-header" style="background-color: #572483; text-align: center;">
          <h5 class="modal-title" id="exampleModalCenterTitle" style="color: white; ">Enviar cupones</h5>
          <button type="button" class="btn btn-outline-light ml-3" (click)="sendCouponToUsers()"> Enviar</button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="table-content">
          <div id="table-print">

            <table class="table table-responsive" id="excel-table">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Celular</th>
                <th class="text-center">F.Nacimiento</th>
                <th class="text-center">Genero</th>
                <th class="text-center">Establecimiento</th>
                <th class="text-center">Sede</th>
                <th class="text-center">Usabilidad</th>
                <th class="text-center">Monto Compra</th>
              </tr>
              <tr *ngFor="let user of userSelected; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.registerDate}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.nameAllie}}</td>
                <td>{{user.nameHeadquarter}}</td>
                <td>{{user.usability}}</td>
                <td>{{user.purchaseAmount}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div *ngIf="!typeCoupon" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        <div *ngIf="typeCoupon" class="modal-footer2">
          <div class="">
            <label> Cupones disponibles: {{numberOfCoupons}} </label>
          </div>
          <div class="">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- modal promos -->
  <ng-template #modalpromos let-modal>
    <div class="modal-header" style="background-color: #572483;">
      <h5 class="modal-title mr-4" id="modalpromosTitle" style="color: white;">Enviar Promociones</h5>
      <select class="custom-select" (change)="loadPromos($event)" #ally>
        <option value="" selected>Seleccione un Aliado</option>
        <option *ngFor="let ally of allies" [value]="ally.id">{{ally.name}}</option>
      </select>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid text-center" *ngIf="ally.value && !dishPromoArray.length && !loadingPromos">No ha
        promociones registradas en el aliado</div>
      <div *ngIf="loadingPromos" class="fa-3x text-center">
        <i class="fas fa-spinner fa-pulse"></i>
      </div>
      <table class="table table-responsive" id="ally-table" *ngIf="dishPromoArray.length">
        <tr>
          <!-- <th class="text-center">Referencia</th> -->
          <th class="text-center">Categoría</th>
          <th class="text-center">Nombre del plato</th>
          <th class="text-center">Foto del plato</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Tipo de promoción</th>
          <th class="text-center">Precio con promoción</th>
          <th class="text-center">Dias de promoción</th>
          <!-- <th class="text-center">Fecha de inicio de promoción</th> -->
          <!-- <th class="text-center">Hora de inicio de promoción</th> -->
          <th class="text-center">Fecha de finalización de promoción</th>
          <th class="text-center">Hora de finalización de promoción</th>
          <th class="text-center" colspan="1">Estado</th>
          <th class="text-center">Seleccionar</th>
          <!-- <th class="text-center"> </th> -->
        </tr>
        <tr *ngFor="let menuPromo of dishPromoArray; let i = index " class="text-center">
          <!-- <td>{{menuPromo.reference}}</td> -->
          <td>{{menuPromo.nameDishesCategories}}</td>
          <td>{{menuPromo.name}}</td>
          <td><img src={{menuPromo.photo}} alt="" class="sizeLogo mx-2"></td>
          <td>{{menuPromo.price}}</td>
          <td>{{menuPromo.namepromo}}</td>
          <td>{{menuPromo.pricepromo}}</td>
          <td>{{menuPromo.daysPromo}} días</td>
          <!-- <td>{{menuPromo.promotionStartDate[0].day}}/{{menuPromo.promotionStartDate[0].month}}/{{menuPromo.promotionStartDate[0].year}}
          </td> -->
          <!-- <td>{{menuPromo.timestart}}</td> -->
          <td>
            {{menuPromo.endDatePromotion[0].day}}/{{menuPromo.endDatePromotion[0].month}}/{{menuPromo.endDatePromotion[0].year}}
          </td>
          <td>{{menuPromo.timeend}}</td>
          <td>
            <div class="radio radio-success m-2 form-check-inline">
              <!-- <input [checked]="menuPromo.state[0].check" value="{{menuPromo.id}}" type="radio" name={{i}}
                    id="state" #active (click)="verifyDate(active.value,i)"> -->
              <label *ngIf="menuPromo.state[0].check" style="font-size: 15px;">
                Activo
              </label>
              <label *ngIf="!menuPromo.state[0].check" style="font-size: 15px;">
                Inactivo
              </label>
            </div>
          </td>
          <td><input type="checkbox" class="m-1" [checked]="menuPromo.selected" (change)="selectedPromo($event, i)">
          </td>
          <!-- <td> 
            <div class="radio radio-danger m-2 form-check-inline">
                <input [checked]="menuPromo.state[1].check" value="{{menuPromo.id}}" type="radio" name={{i}}
                    id="state" #inactive (click)="changeStateI(inactive.value)">
                <label style="font-size: 15px;">
                    Inactivo
                </label>
            </div>
        </td> -->
          <!-- <td>
            <a [routerLink]="[ '/main/createDish', menuPromo.reference]" class="btn"> <i
                    class="far fa-edit"></i> </a>
        </td> -->
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <div class="invalid-length" *ngIf="alertPromos">Seleccione almenos una promoción para enviar</div>
      <button *ngIf="dishPromoArray.length" type="button" class="btn btn-primary" style="background-color: #572483;"
        (click)="sendPromos()">Enviar Promociones</button>
      <button type="button" class="btn btn-secondary btn-cancel" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>


</div>