<div class="compenetsstyle">

  <div style="margin-top: 2rem;" class=" container-fluid d-flex flex-row justify-content-between">
    <div class="d-flex justify-content-center container-fluid">
      <button type="button" class="btn mr-5 " style="background-color: #92d050;">Enviar a cupones</button>
      <button type="button" class="btn " style="background-color: #f4b081">Enviar a promociones</button>
    </div>
    <div class="d-flex justify-content-center container-fluid">
      <button type="button" class="btn btn-success mr-5">Generar Excel</button>
      <button type="button" class="btn btn-danger">Generar PDF</button>
    </div>
  </div>
</div>