<div class="margin-container">
        <form [formGroup]="forma" (ngSubmit)="saveChanges()" novalidate="">
                <div class="row">
                        <div class="col-1 col-sm-1 col-md-1 col-log-1">
                                <div class="row justify-content-center">
                                        <a (click)="swallLeave()">
                                                <img src="assets/icons/Back.png" class="tifi-icon-back">
                                        </a>
                                </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Nombre del establecimiento</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="name"
                                                        [ngClass]="{ 'is-invalid': (!forma.get('name').valid && 
                                                        forma.get('name').touched ),
                                                         'is-valid':( forma.get('name').valid )}">
                                                <div *ngIf="forma.get('name').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div *ngIf="forma.get('name').errors?.minlength "
                                                        class="invalid-feedback">
                                                        Como mínimo 2 caracteres
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">NIT.</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="nit" [ngClass]="{ 'is-invalid': (!forma.get('nit').valid && 
                                                        forma.get('nit').touched ), 
                                                        'is-valid':( forma.get('nit').valid )}">
                                                <div *ngIf="forma.get('nit').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div *ngIf="forma.get('nit').errors?.pattern " class="invalid-feedback">
                                                        Como mínimo 8 caracteres y no se puede ingresar letras.
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Representante legal</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text"
                                                        formControlName="legalRepresentative" [ngClass]="{ 'is-invalid': (!forma.get('legalRepresentative').valid && 
                                                        forma.get('legalRepresentative').touched ), 
                                                        'is-valid':( forma.get('legalRepresentative').valid )}">
                                                <div *ngIf="forma.get('legalRepresentative').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div *ngIf="forma.get('legalRepresentative').errors?.pattern "
                                                        class="invalid-feedback">
                                                        Como mínimo 2 caracteres y no se puede utilizar caracteres
                                                        especiales.
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Cédula</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="documentNumber"
                                                        [ngClass]="{ 'is-invalid': (!forma.get('documentNumber').valid && 
                                                        forma.get('documentNumber').touched ), 
                                                        'is-valid':( forma.get('documentNumber').valid )}">
                                                <div *ngIf="forma.get('documentNumber').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div *ngIf="forma.get('documentNumber').errors?.pattern "
                                                        class="invalid-feedback">
                                                        Como mínimo 8 caracteres y no se puede utilizar caracteres
                                                        especiales.
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Logo del establecimiento</label>
                                        <div class="col-8">
                                                <div class="row align-items-center ">
                                                        <div class="photo">
                                                                <img [tooltip]="HtmlContent" content-type="template"
                                                                        id="photo" width="150px" height="120px"
                                                                        style="border-radius: 1.5rem" src="">
                                                        </div>
                                                        <div class="upload-btn-wrapper">
                                                                <ng-template #HtmlContent>
                                                                        <p>Se recomienda subir el archivo con extension
                                                                                png y
                                                                                con las siguientes dimensiones: 300 px
                                                                                Anchura y 168 px Altura</p>
                                                                </ng-template>
                                                                <button class="btn1 btn btn-outline-primary mt-2">
                                                                        Cambiar archivo
                                                                </button>
                                                                <span tooltip="Tooltip text"></span>
                                                                <input type="file" (change)="onPhotoSelected($event)"
                                                                        [ngClass]="{ 'is-invalid': (!forma.get('logo').valid && 
                                                                        forma.get('logo').touched ), 
                                                                        'is-valid':( forma.get('logo').valid )}">

                                                                <div *ngIf="forma.get('logo').errors?.required "
                                                                        class="invalid-feedback">
                                                                        Este campo es requerido
                                                                </div>
                                                                <div class="valid-feedback">Ok!</div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Color para la entidad</label>
                                        <div class="col-8">
                                                <div class="row margin-left2">
                                                        <input class="form-control mr-2" style="width: 75%;" type="text"
                                                                [value]="color">

                                                        <input type="color" (change)="getColour($event)">
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Tipo de establecimiento</label>
                                        <div class="col-8">
                                                <div class="row  margin-left2 ">
                                                        <select *ngIf="otherEstablishmentSelect"
                                                                class=" form-control custom-select  mr-2 text-capitalize"
                                                                style="width: 65%;"
                                                                formControlName="idTypeOfEstablishment"
                                                                [ngClass]="{ 'is-invalid': (!forma.get('idTypeOfEstablishment').valid && 
                                                                        forma.get('idTypeOfEstablishment').touched ), 
                                                                        'is-valid':( forma.get('idTypeOfEstablishment').valid )}">

                                                                <option *ngFor="let category of alliesCategories"
                                                                        [ngValue]="category">
                                                                        {{category.name}}
                                                                </option>
                                                        </select>
                                                        <input *ngIf="otherEstablishmentInput"
                                                                id="nameTypeOfEstablishment" type="text"
                                                                formControlName="nameTypeOfEstablishment"
                                                                class="form-control mr-2" style="width: 57%;">

                                                        <button *ngIf="otherEstablishmentInput"
                                                                class="btn1 btn btn-outline-primary" type="button"
                                                                (click)="changeStateToSelect()"> Cancelar</button>
                                                        <button *ngIf="otherEstablishmentInput"
                                                                class="btn1 btn btn-outline-primary" type="button"
                                                                (click)="addEstablishment()"> Guardar</button>

                                                        <button *ngIf="!otherEstablishmentInput"
                                                                (click)=" handleBoxEstablishment()"
                                                                class="btn1 btn btn-outline-primary">
                                                                Otro
                                                        </button>
                                                        <button *ngIf="!otherEstablishmentInput"
                                                                (click)=" deleteCategory()" type="button"
                                                                class="btn1 btn btn-outline-primary">
                                                                Borrar
                                                        </button>
                                                        <div *ngIf="forma.get('idTypeOfEstablishment').errors?.required "
                                                                class="invalid-feedback">
                                                                Este campo es requerido
                                                        </div>
                                                        <div class="valid-feedback">Ok!</div>
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Numero de puntos</label>
                                        <div class="col-8">
                                                <input class="form-control" type="number"
                                                        placeholder="---------------------" min="0" max="30"
                                                        formControlName="NumberOfLocations" [ngClass]="{ 'is-invalid': (!forma.get('NumberOfLocations').valid && 
                                                        forma.get('NumberOfLocations').touched ), 
                                                        'is-valid':( forma.get('NumberOfLocations').valid )}">
                                                <div *ngIf="forma.get('NumberOfLocations').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div *ngIf="forma.get('NumberOfLocations').errors?.pattern "
                                                        class="invalid-feedback">
                                                        Como maxímo 5 caracteres numericos
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Categoría de comida</label>
                                        <div class="col-8">
                                                <div class="row  margin-left2 ">
                                                        <select *ngIf="otherMealSelect"
                                                                class="browser-default custom-select form-control mr-2"
                                                                style="width: 65%;" formControlName="idMealsCategories"
                                                                [ngClass]="{ 'is-invalid': (!forma.get('idMealsCategories').valid && 
                                                                forma.get('idMealsCategories').touched ), 
                                                                'is-valid':( forma.get('idMealsCategories').valid )}">
                                                                <option *ngFor="let mealCategory of mealsCategories"
                                                                        [ngValue]="mealCategory">
                                                                        {{mealCategory.name}}
                                                                </option>
                                                        </select>
                                                        <input *ngIf="otherMealInput" type="text"
                                                                formControlName="nameMealsCategories"
                                                                class="form-control mr-2" style="width: 57%;">
                                                        <button *ngIf="otherMealInput"
                                                                class="btn1 btn btn-outline-primary" type="button"
                                                                (click)="changeStateToSelectMeal()"> Cancelar
                                                        </button>
                                                        <button *ngIf="otherMealInput"
                                                                class="btn1 btn btn-outline-primary" type="button"
                                                                (click)="addMeal()"> Guardar
                                                        </button>
                                                        <button *ngIf="!otherMealInput" (click)=" handleBoxMeal()"
                                                                type="button" class="btn1 btn btn-outline-primary">
                                                                Otro
                                                        </button>
                                                        <button *ngIf="!otherMealInput" (click)=" deleteMealCategory()"
                                                                type="button" class="btn1 btn btn-outline-primary">
                                                                Borrar
                                                        </button>
                                                        <div *ngIf="forma.get('idMealsCategories').errors?.required "
                                                                class="invalid-feedback">
                                                                Este campo es requerido
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Tipo de aliado</label>
                                        <div class="col-8">
                                                <select class="browser-default custom-select form-control mr-2"
                                                        formControlName="typeAlly" [ngClass]="{ 'is-invalid': (!forma.get('typeAlly').valid && 
                                                        forma.get('typeAlly').touched ), 
                                                        'is-valid':( forma.get('typeAlly').valid )}">
                                                        <option> Oro </option>
                                                        <option> Plata </option>
                                                        <option> Bronce </option>
                                                </select>
                                                <div *ngIf="forma.get('typeAlly').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Porcentaje de intermediación</label>
                                        <div class="col-8">
                                                <input class="form-control" type="number"
                                                        placeholder="---------------------" min="0" max="100"
                                                        formControlName="intermediationPercentage" [ngClass]="{ 'is-invalid': (!forma.get('intermediationPercentage').valid && 
                                                        forma.get('intermediationPercentage').touched ), 
                                                        'is-valid':( forma.get('intermediationPercentage').valid )}">
                                                <div *ngIf="forma.get('intermediationPercentage').errors?.required "
                                                        class="invalid-feedback">
                                                        Este campo es requerido
                                                </div>
                                                <div *ngIf="forma.get('intermediationPercentage').errors?.pattern "
                                                        class="invalid-feedback">
                                                        del 0 a 100%
                                                </div>
                                                <div class="valid-feedback">Ok!</div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Descripción del establecimiento</label>
                                        <div class="col-8">
                                                <textarea class="form-control " formControlName="description" [ngClass]="{ 'is-invalid': (!forma.get('description').valid && 
                                                forma.get('description').touched ),
                                                                'is-valid':( forma.get('description').valid )}">
                                                </textarea>
                                                <div *ngIf="forma.get('description').errors?.maxlength "
                                                        class="invalid-feedback">
                                                        Como máximo 20 caracteres
                                                </div>
                                        </div>
                                </div>

                        </div>
                        <div class="col-10 col-sm-10 col-md-10 col-lg-5 ">

                                <div class=" form-group row ">
                                        <div class="col-2"> <label>Horario</label> </div>
                                        <div class="col">
                                                <div class="row">
                                                        <div class="col ">
                                                                <div class="row ">
                                                                        <div
                                                                                class="horario center mr-3 col-sm-3 col-md-3 col-lg-3">
                                                                                <p>Día</p>
                                                                        </div>
                                                                        <div
                                                                                class="horario center mr-3 col-sm-4 col-md-3 col-lg-3">
                                                                                <p>Apertura</p>
                                                                        </div>
                                                                        <div
                                                                                class="horario center  col-sm-3 col-md-3 col-lg-3">
                                                                                <p>Cerrado</p>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                </div>
                                                <div *ngIf="!flagShowShedule">

                                                        <div *ngFor="let day of days; let i = index"
                                                                class="row my-3 form-group ">
                                                                <div class="col">
                                                                        <div class="row ">
                                                                                <div
                                                                                        class="horario center col-sm-3 col-md-3 col-lg-3">
                                                                                        <label #dayl>{{day}}</label>
                                                                                </div>
                                                                                <div
                                                                                        class=" mr-3 col-sm-3 col-md-3 col-lg-3 .col-xl-3">
                                                                                        <select class=" browser-default custom-select form-control "
                                                                                                style="width: 140%;" #from
                                                                                                (click)="getAttentionSchedule(dayl.textContent, from.value, to.value, i)"
                                                                                                >
                                                                                                <option selected>
                                                                                                        ---------------------
                                                                                                </option>
                                                                                                <option *ngFor="let time of hours"
                                                                                                        [value]="time">
                                                                                                        {{time}}
                                                                                                </option>
                                                                                        </select>
                                                                                </div>
                                                                                <div class=" col-sm-3 col-md-3 col-lg-3">
        
                                                                                        <select class=" browser-default custom-select form-control"
                                                                                                style="width: 140%;" #to
                                                                                                (click)="getAttentionSchedule(dayl.textContent, from.value, to.value, i)"
                                                                                                >
                                                                                                <option selected>
                                                                                                        ---------------------
                                                                                                </option>
                                                                                                <option *ngFor="let time of hours"
                                                                                                        [value]="time">
                                                                                                        {{time}}
                                                                                                </option>
                                                                                        </select>
                                                                                </div>
        
                                                                        </div>
        
                                                                </div>
                                                        </div>
                                                </div>
                                                <!-- <div *ngIf="flagShowShedule">
                                                        <div *ngFor="let day of days; let i = index"
                                                        class="row my-3 form-group ">
                                                        <div class="col">
                                                                <div class="row ">
                                                                        <div
                                                                                class="horario center col-sm-3 col-md-3 col-lg-3">
                                                                                <label #dayl>hola</label>
                                                                        </div>
                                                                        <div
                                                                                class=" mr-3 col-sm-3 col-md-3 col-lg-3 .col-xl-3">
                                                                                <select class=" browser-default custom-select form-control "
                                                                                        style="width: 140%;" #from
                                                                                        (click)="getAttentionSchedule(dayl.textContent, from.value, to.value, i)"
                                                                                        >
                                                                                        <option selected>
                                                                                                ---------------------
                                                                                        </option> 
                                                                                        <div *ngIf="!flagShowShedule">
                                                                                                <option *ngFor="let time of hours"
                                                                                                        [value]="time">
                                                                                                        {{time}}
                                                                                                </option>
                                                                                        </div>
                                                                                        <div *ngIf="flagShowShedule">
                                                                                                
                                                                                                <option *ngFor="let schedule of getSchedule"
                                                                                                [value]="schedule.from">
                                                                                                {{schedule.from}}
                                                                                                </option>
                                                                                        </div>
                                                                                        
                                                                                </select>
                                                                        </div>
                                                                        <div class=" col-sm-3 col-md-3 col-lg-3">

                                                                                <select class=" browser-default custom-select form-control"
                                                                                        style="width: 140%;" #to
                                                                                        (click)="getAttentionSchedule(dayl.textContent, from.value, to.value, i)"
                                                                                        >
                                                                                        <option selected>
                                                                                                ---------------------
                                                                                        </option>
                                                                                        <option *ngFor="let time of hours"
                                                                                                [value]="time">
                                                                                                {{time}}
                                                                                        </option>
                                                                                </select>
                                                                        </div>

                                                                </div>

                                                        </div>
                                                </div> -->
                                                              
                                                <!-- </div> -->
                                        </div>

                                </div>
                                <div class="row form-group ">
                                        <div class="col-3 mt-5 ">
                                                <label class="text-center">
                                                        Fotos del establecimiento
                                                </label>
                                        </div>
                                        <div class=" col align-items-center">
                                                <div
                                                        class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                                                        <div class="d-flex flex-column ">
                                                                <ng-image-slider
                                                                        *ngIf="imagesUploaded.length>0 appValidationsLoadImages "
                                                                        style="width: 230px; height: 120px; "
                                                                        [imageSize]="imageSize"
                                                                        [images]="imagesUploaded" #nav>
                                                                </ng-image-slider>

                                                                <P *ngIf="imagesUploaded.length==0"
                                                                        style="color: crimson; ">
                                                                        No hay imagenes subidas
                                                                </P>

                                                                <div class="upload-btn-wrapper mt-3  ">
                                                                        <button
                                                                                class=" container  btn btn-outline-primary">
                                                                                Adjuntar archivos {{contImage}}
                                                                        </button>
                                                                        <input type="file" name="photo"
                                                                                (change)="onImagesSelected($event)" />
                                                                </div>

                                                        </div>
                                                </div>
                                        </div>
                                </div>



                        </div>
                        <div
                                class="col-sm-12 col-md-2 col-lg-1 d-flex flex-column justify-content-center align-items-center ">
                                <div class="form-group row d-flex flex-column ">

                                        <button type="submit" class="btn btn-outline-primary mb-5">
                                                Guardar
                                        </button>
                                        <button class="btn btn-outline-primary" type="button" (click)="cancelChanges()">
                                                Cancelar
                                        </button>

                                </div>
                        </div>
                </div>
                {{forma.valid}}
        </form>

</div>

<!-- <form>



                <div class="form-group row">
                        <label class="col-2 col-form-label">Nombre</label>
                        <div class="col-8">

                                <input class="form-control" type="text" placeholder="Nombre">
                        </div>
                </div>

                <div class="form-group row">
                        <label class="col-2 col-form-label">Apellido</label>
                        <div class="col-8">

                                <input class="form-control" type="text" placeholder="Apellido">
                        </div>
                </div>

        

        <div class="form-group row">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-md-8">

                        <input class="form-control" type="email" placeholder="Correo electrónico">
                </div>
        </div>



        <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                        <button type="submit" class="btn btn-outline-primary">
                                Guardar
                        </button>
                </div>
        </div>

</form> -->