<div class="margin-container">
        <form [formGroup]="forma" (ngSubmit)="saveChanges()" >
                <div class="row">
                        <div class="col-md-1" style="background-color: purple;">
                                <div class="row justify-content-center">
                                        <a href="#" class="btn btn-outline-primary rounded-circle ">
                                                <i class="fas fa-chevron-left "></i>
                                        </a>
                                </div>
                        </div>
                        <div class="col-md-5" style="background-color: blue;">
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Nombre del establecimiento</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="name">
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">NIT.</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="nit">
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Representante legal</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="legalRepresentative" >
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Cédula</label>
                                        <div class="col-8">
                                                <input class="form-control" type="text" formControlName="documentNumber">
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Logo del establecimiento</label>
                                        <div class="col-8">
                                                <div class="row align-items-center ">
                                                        <div class="photo"> <img id="photo" width="80px" height="80px">
                                                        </div>
                                                        <div class="upload-btn-wrapper">
                                                                <button class="btn1 btn btn-outline-primary">Cargar
                                                                        Imagen</button>
                                                                <input type="file" name="photo"
                                                                        (change)="onPhotoSelected($event)" />
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Color para la entidad</label>
                                        <div class="col-8">
                                                <div class="row picker margin-left2">

                                                        <input class="colors" type="number" placeholder="Rojo" min="0"
                                                                max="255">
                                                        <input class="colors" type="number" placeholder="Verde" min="0"
                                                                max="255" id="green">
                                                        <input class="colors" type="number" placeholder="Azul" min="0"
                                                                max="255" id="blue">
                                                        <input type="color" #color (click)='vercolor(color.value)'>

                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Tipo de establecimiento</label>
                                        <div class="col-8">
                                                <div class="row  margin-left2 ">
                                                        <select *ngIf="otherEstablishmentSelect"
                                                                class="browser-default custom-select selectSize mr-2 text-capitalize">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of TypeEstablishment"
                                                                        [value]="time">
                                                                        {{time}}
                                                                </option>
                                                        </select>
                                                        <input *ngIf="otherEstablishmentInput" class="selectSize mr-2"
                                                                type="text"
                                                                (keyup.enter)="addEstablishment(additem.value)"
                                                                #additem>
                                                        <!-- <button (click)=" addEstablishment(additem.value)"
                                                                *ngIf="otherEstablishmentInput"
                                                                class="btn1 btn btn-outline-primary"> Añadir
                                                        </button> -->
                                                        <button (click)=" handleBoxEstablishment()"
                                                                class="btn1 btn btn-outline-primary"> Otro
                                                        </button>
                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Numero de puntos</label>
                                        <div class="col-8">
                                                <select class="browser-default custom-select ">
                                                        <option selected>---------------------</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Categoría de comida</label>
                                        <div class="col-8">
                                                <div class="row  margin-left2 ">
                                                        <select *ngIf="otherCatSelect"
                                                                class="browser-default custom-select selectSize mr-2">
                                                                <option selected>---------------------</option>
                                                                <option *ngFor="let time of Categoria" [value]="time">
                                                                        {{time}}
                                                                </option>
                                                        </select>
                                                        <input *ngIf="otherCatInput" class="selectSize mr-2" type="text"
                                                                name="otherCat">
                                                        <button (click)=" handleBoxCategory()"
                                                                class="btn1 btn btn-outline-primary"> Otro </button>

                                                </div>
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Descripción del establecimiento</label>
                                        <div class="col-8">
                                                <textarea 
                                                        class="form-control rounded-0 "
                                                        id="exampleFormControlTextarea2" rows="2" maxlength="7" require>
                                                </textarea>
                                        </div>
                                </div>


                        </div>
                        <div class="col-md-5" style="background-color: green;">
                                One of three columns
                        </div>
                        <div class="col-1 d-flex flex-column justify-content-center align-items-center " style="background-color: red;">
                                <div class="form-group row d-flex flex-column ">
                                
                                                       <button type="submit" class="btn btn-outline-primary mb-5">
                                                                Guardar
                                                        </button>
                                                        <button class="btn btn-outline-primary">Cancelar</button>                
                                
                                </div>
                        </div>
                </div>
                {{forma.valid}}
        </form>

</div>

<!-- <form>

        

                <div class="form-group row">
                        <label class="col-2 col-form-label">Nombre</label>
                        <div class="col-8">

                                <input class="form-control" type="text" placeholder="Nombre">
                        </div>
                </div>

                <div class="form-group row">
                        <label class="col-2 col-form-label">Apellido</label>
                        <div class="col-8">

                                <input class="form-control" type="text" placeholder="Apellido">
                        </div>
                </div>

        

        <div class="form-group row">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-md-8">

                        <input class="form-control" type="email" placeholder="Correo electrónico">
                </div>
        </div>



        <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                        <button type="submit" class="btn btn-outline-primary">
                                Guardar
                        </button>
                </div>
        </div>

</form> -->