// styles for form with grid
// styles flex for form 
// .flex-outer{
//   display: flex;
//   // flex-wrap: wrap;
//   flex-direction: row;
//   // align-items: center;
//   justify-content: space-around;
// }
// .flex-outer div label{
//   flex: 1 0 120px;
//   max-width:220px;
//   // margin-right: 4rem;  
// }
// .flex-outer  div  label + * {
//   flex: 1 0 220px;
// }
// .flex-outer div input {
//   // padding: 15px;
//   border-radius: 5px;
// }

//style reponsive 

//Styles button primary
.btn-outline-primary:hover {
  color: #fff;
  background-color: #552183;
}
.btn-outline-primary {
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5a4183;
  border-color: #5a4183;
}
//paddin of container father
.margin-container {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
}
//others
.photo {
  margin-left: 15px;
  margin-right: 10px;
  width: 120px;
  height: 100px;
  border: solid 0.5px gray;
  border-radius: 1.5rem;
}

.photo2 {
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 20px;
}

.btn-changePhoto {
  height: 30px;
}

.margin-left2 {
  margin-left: 1px;
}

.colors {
  width: 4.2rem;
  margin-right: .3rem;
}

.margin-left {
  margin-left: 0px;
}

.width-defined {
  width: 250px;
  margin-top: 9px;
}

.horario {
  border: solid 1px rgb(170, 170, 170);
  border-radius: .3rem;
  // padding: 1px;
}

.corousel-info {
  margin-top: 8px;
}

.center {
  text-align: center;
}

.margin-left {
  margin-left: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

}

.btn1 {
  margin-left: 5px;
  background-color: white;
  padding: 5px;
  border-radius: .5rem;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.main {
  height: 120px;
}
 //Styles size select  and input  with button other
 .selectSize{
   width: 13rem;
   border-radius: .5rem;
 }

 //Style of labels schedule
 .containerSchedule{
   display:flex;
   flex-direction: column;
   align-items: center;
 }
// styles of swall but don't working
 .swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #3085d6;
  color: rgb(7, 7, 7);
  font-size: 1.0625em;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  // background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
  color: rgb(247, 15, 15);
  background-color: #552183;

}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

was-validated textarea.form-control:valid, textarea.form-control.is-valid {
  padding-right: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
  height: 100%;
}
.col-3 {
  flex: 0 0 31%;
  max-width: 100%;
}