<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">

    <div class="filerControl d-flex justify-content-center px-1 ">

        <nav class="menu">

            <ul>
                <li>
                    <a>De</a>
                    <p>correo@gmail.com</p>
                </li>
                <li>
                    <a>Para</a>
                    <p>correo@gmail.com</p>
                </li>
                <li>
                    <a>Ubicacion</a>
                    <p>Bogota</p>
                </li>
                <li style="border: none;">
                    <a>Servicio</a>
                    <i class="fas fa-map-marker-alt"
                        style="color: black; font-size: 4rem;  width:2rem; height:2rem;"></i>
                    <i class="fas fa-map-marker-alt"
                        style="color: black; font-size: 4rem;  width:2rem; height:2rem;"></i>
                    <i class="fas fa-map-marker-alt"
                        style="color: black; font-size: 4rem;  width:2rem; height:2rem;"></i>
                </li>
            </ul>
        </nav>

        <nav class="menu">

            <ul>
                <li>
                    <a>Natalia cortes</a>

                </li>
                <li>
                    <a>3059064285</a>

                </li>
                <li>
                    <a>Fecha nacimiento: 15/Ene/1996</a>

                </li>
                <li>
                    <a>Femenino</a>
                </li>
                <li>
                    <a>KFC</a>
                </li>
                <li>
                    <a>Galerías</a>
                </li>
                <li style="border: none;">
                    <a>Fecha: 19/Oct/2019</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="PqrGeneral">
        <div>
            <p>PQR</p>
            <p class="chat" id="style-2">Hola ,i nombre es Natalia lo que pasa es que...
                HTML Tutorial
                CSS Tutorial
                JavaScript Tutorial
                How To Tutorial
                SQL Tutorial
                Python Tutorial
                W3.CSS Tutorial

            </p>
            <button class="btnForInforms">
                <i class="fas fa-download" style="color: #542b81; font-size: 2.5rem;  width:2rem; height:2rem; margin-right: .5rem;"></i>
                Descargar</button>

        </div>
        <div>
            <p>RESPUESTA</p>
            <textarea class="chat" style="padding: 0; margin-bottom: 1rem; padding-top: 2rem;" name="area" id="response" cols="30"
                rows="10">
            </textarea>
            <button class="btnForInforms">
                <i class="fas fa-share" style="color: #542b81; font-size: 2.5rem;  width:2rem; height:2rem; margin-right: .5rem;"></i>
                Enviar
            </button>
            <div style="width: 10rem; height: 10rem;">
            </div>
        </div>
    </div>
</div>