<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">

    <div class="filerControl d-flex justify-content-center px-1 ">

        <nav class="menu">

            <ul>
                <li>
                    <a>De </a>
                    <input type="text">
                </li>
                <li>
                    <a>Para</a>
                    <input type="text">
                </li>
                <li>
                    <a>Ubicacion</a>
                    <input type="text">
                </li>
                <li style="border: none;">
                    <a>Servicio</a>
                </li>
            </ul>
        </nav>
    </div>

</div>