

.buttonstyle {
    background-color: #572483;
    color: thistle;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }

  .imageI{
    width: 6rem;
    height: 6rem
  }

  .padre {
    position: relative;
  }
 .hijo {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 60%;
    margin: 8% 0 0 -32%;
  }