<app-app-navbar></app-app-navbar>
<div>
    <p >options works!</p>
</div>
<div class="row" style="padding: 30px;">
    <div class="col-sm-3">
      <div class="card border-primary mb-3">
        <img class="card-img-top" src="assets/img/ManagerAllys.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-primary btn-lg btn-block">Administrador de Aliados</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/ManagerUsers.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-primary">Administrador de Usuarios</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
