

.buttonstyle {
    background-color: #572483;
    color: thistle;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }

  .imageI{
    width: 6rem;
    height: 6rem
  }

  .compenet-options{
    padding: 7rem;
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
  }

  .div-option{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }


@media( max-width: 414px ){

  .compenet-options{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}

@media( max-width: 991px ){

  .div-option{
   align-content: initial;
  }


}
