<div class="compenetsstyle">
    <app-loading *ngIf="loading"></app-loading>
    <form novalidate="" class="row  animated fadeIn " (ngSubmit)="saveDish(shape)" #shape="ngForm" *ngIf="!loading">

        <a [routerLink]="['/main','editmenu']" class="d-flex mr-2">
            <img src="assets/icons/Back.png" class="tifi-icon-back">
        </a>


        <section class="col-6">

            <div class="form-group row" style="align-items: center;">
                <label class="col-md-5 col-form-label">Estado</label>
                <div class="col-md-7">

                    <div class="radio radio-success m-2 form-check form-check-inline">
                        <input class="form-check-input " type="radio" name="radio2" id="radio3"
                            [checked]="State[0].check" #active [checked]="preDish.state[0].check"
                            (change)="selectedState(active.value,active.checked,inactive.value,inactive.checked)"
                            [value]="State[0].state">
                        <label for="radio3">
                            Activo
                        </label>
                    </div>

                    <div class="radio radio-danger m-2 form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio2" id="radio4"
                            [checked]="State[1].check" #inactive [checked]="preDish.state[1].check"
                            (change)="selectedState(active.value,active.checked,inactive.value,inactive.checked)"
                            [value]="State[1].state">
                        <label for="radio4">
                            Inactivo
                        </label>
                    </div>

                    <div class="radio m-2 form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio2" id="radio5" (click)="deleteDish()">
                        <label for="radio5">
                            Eliminar
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fecha de ingreso</label>
                <div class="col-md-7">
                    <label class="dt">
                        <p class="text-center">
                            {{dateEntry}}
                        </p>
                    </label>

                    <label class="dt" style="margin-right: 10px;">
                        <p class="text-center">
                            {{timesEntry}}
                        </p>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Fecha de modificación</label>
                <div class="col-md-7">
                    <label class="dt">
                        <p class="text-center">
                            {{dateModication}}
                        </p>
                    </label>

                    <label class="dt" style="margin-right: 10px;">
                        <p class="text-center">
                            {{timesModification}}
                        </p>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Número de modificaciones</label>
                <div class="col-md-7">
                    <label class="form-control">{{preDish.numberOfModifications}}</label>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Categoría</label>
                <div class="col-md-7">
                    <div class="input-group">

                        <select *ngIf="arrayCategorySelect" class="form-control mr-2" name="dishCategory"
                            #nameMealsCategories="ngModel" required
                            [ngClass]="{'is-invalid': (!nameMealsCategories.valid ),'is-valid':(nameMealsCategories.valid) }"
                            [(ngModel)]="preDish.nameDishesCategories" #select (change)="seeId(select.value)">
                            <option selected>{{preDish.nameDishesCategories}}</option>
                            <option *ngFor="let category of dishesCategories">
                                {{category.name}}
                            </option>
                        </select>

                        <input *ngIf="otherCategoryInput" placeholder="Otra categoría" required #category="ngModel"
                            class="col-md-9 col-form-label mr-2 form-control " [(ngModel)]="otherCat" type="text"
                            name="otherCat"
                            [ngClass]="{'is-invalid': (!category.valid && category.touched ),'is-valid':(category.valid)}">

                        <button *ngIf="selectAgainarray" class="btn1 btn btn-outline-primary" type="button"
                            (click)="handleBoxCategories()"> Cancelar</button>

                        <button *ngIf="selectAgainarray" class="btn1 btn btn-outline-primary" type="button"
                            (click)="addCategory(otherCat)"> Guardar</button>

                        <button *ngIf="addcategoryButton" (click)="handleBoxCategories()"
                            class="btn1 btn btn-outline-primary">
                            Otro
                        </button>

                        <button *ngIf="addcategoryButton" (click)=" deleteCategory()" type="button"
                            class="btn1 btn btn-outline-primary">
                            Borrar
                        </button>

                        <div class="invalid-feedback">*Este campo es requerido </div>
                        <div class="valid-feedback">Ok!</div>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Referencia</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Referencia" name="reference" #ref="ngModel"
                        [(ngModel)]="preDish.reference" required pattern="[0-9a-zA-Z]{8}"
                        [ngClass]="{'is-invalid': (!ref.valid && ref.touched) || ref.errors?.pattern ,'is-valid':(ref.valid) }">
                    <div *ngIf="ref.errors?.required" class="invalid-feedback">*Este campo es requerido </div>
                    <div *ngIf="ref.errors?.pattern" class="invalid-feedback">*La referencia debe ser de 8 carácteres
                    </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Nombre del plato</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Nombre del plato" name="nameDish"
                        #name="ngModel"
                        [ngClass]="{'is-invalid': (!name.valid && name.touched ),'is-valid':(name.valid) }"
                        [(ngModel)]="preDish.name" required minlength="2">

                    <div class="invalid-feedback">*Este campo es requerido </div>
                    <div class="valid-feedback">Ok!</div>
                </div>
            </div>
        </section>

        <section class="col-5">

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Precio</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" placeholder="Precio" name="price" pattern="[0-9]{0,20}"
                        #price="ngModel" required
                        [ngClass]="{'is-invalid': (!price.valid && price.touched) || price.errors?.pattern ,'is-valid':(price.valid)}"
                        [(ngModel)]="preDish.price">
                    <div *ngIf=" price.errors?.required" class="invalid-feedback">*Este campo es requerido</div>
                    <div *ngIf=" price.errors?.pattern" class="invalid-feedback">*Sólo ingresar carácteres numéricos
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Foto del plato</label>
                <div class="col-md-7">

                    <div class="row align-items-center ">
                        <div class="photo">
                            <img [src]="preDish.imageDishe" id="photo" width="100px" height="100px" title="No hay foto subida">
                        </div>
                        <div class="upload-btn-wrapper">
                            <button class="btn1 btn btn-outline-primary">Cargar Imagen</button>
                            <input type="file" name="photo" (change)="onPhotoSelected($event)" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Descripción del plato</label>
                <div class="col-md-7">
                    <textarea class="form-control " name="dishDescription" [(ngModel)]="preDish.description"
                        #description="ngModel" id="exampleFormControlTextarea2" rows="2"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-5 col-form-label">Tiempo de preparación</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" min="0" placeholder="Tiempo de preparación" value="0" class="form-control"
                            #preparationTime="ngModel" [(ngModel)]="preDish.preparationTime[0]" name="preparationTime"
                            pattern="[0-9]{1,3}" required
                            [ngClass]="{'is-invalid': (!preparationTime.valid && preparationTime.touched ),'is-valid':(preparationTime.valid)}"
                            class="form-control">
                        <div class="input-group-append">
                            <select class="input-group-text" class="form-control"
                                [ngClass]="{'is-invalid': (!timeUnity.valid),'is-valid':(timeUnity.valid) }"
                                #timeUnity="ngModel" [(ngModel)]="preDish.preparationTime[1]" name="times" required>
                                <option *ngFor="let time of time">
                                    {{time}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="preparationTime.errors?.required" class="invalid-feedback">*Este campo es
                            requerido
                        </div>
                        <div *ngIf="preparationTime.errors?.pattern" class="invalid-feedback">*Sólo carácteres
                            numéricos
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="col-12 d-flex" style="justify-content: center;">

            <div style="padding: 1rem;">
                <a [routerLink]="['/main','accompaniments']" class="btn btn-outline-primary btn-lg">Acompañamiento
                    adicional</a>
            </div>

        </section>

        <section class="col-12 d-flex" style="justify-content: center;">

            <button *ngIf="!buttonPut" [disabled]="!shape.valid" type="submit"
                class="btn btn-outline-primary btn-lg">Guardar</button>
            <button *ngIf="buttonPut" [disabled]="!shape.valid" type="button" (click)="putDish()"
                class="btn btn-outline-primary btn-lg">Actualizar</button>
        </section>
    </form>

    <!--  <pre>
        {{ preDish | json }}
    </pre> -->

</div>