<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">
   
    <div class="row  ">
        <div style="width: 5%;" class="d-flex align-items-center">
            <a [routerLink]="['/main','headquarts']" class="d-flex">
                <img src="assets/icons/Back.png" class="tifi-icon-back">
            </a>
        </div>
        <section class="col-11">
            
            <div class="filerControl px-1 ">
                <section class="col-5 overflow-auto mr-1" style="flex-direction: column;">
                    <nav class="navbar navbar-expand-sm navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [formGroup]="table">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item mr-2">
                                    <input placeholder="Buscar por código ..." class="form-control" type="text"
                                        (keyup)="search(reference.value, reference.id)" #reference id="reference"
                                        formControlName="reference">
                                </li>
                                <li class="nav-item">
                                    <input placeholder="Buscar por nombre ..." class="form-control" type="text"
                                        (keyup)="search(name.value, name.id)" #name id="name" formControlName="name">
                                </li>
                            </ul>
                        </div>
                    </nav>
                </section>

                <section class="col-5 overflow-auto mr-1" style="flex-direction: column;">
                    <nav class="navbar navbar-expand-sm navbar-light bg-light">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid d-flex">
                            <li class="nav-item container-fluid d-flex">
                                <input (keyup)="searchbyterm(general.value)" class="form-control text-center"
                                    id="general" type="text" placeholder="Buscar menú ..." #general
                                    [(ngModel)]="generalsearch">
                            </li>
                        </ul>
                    </nav>
                </section>

                <section class="col-2 overflow-auto">
                    <nav class="navbar navbar-expand-sm navbar-light bg-light overflow-auto">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <button [routerLink]="['/main','createDish']"
                                    class="btn btn-outline-primary ml-2">Ingresar menú</button>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
        </section>
    </div>

    <div class="tableFixHead mt-5">
        <table>
            <thead>
                <tr>
                    <th class="text-center">Referencia</th>
                    <th class="text-center">Categoría</th>
                    <th class="text-center">Nombre del plato</th>
                    <th class="text-center">Foto del plato</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Fecha de modificación</th>
                    <th class="text-center">Hora de modificación</th>
                    <th class="text-center">Número de modificaciones</th>
                    <th class="text-center" colspan="2" >Estado</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody class="mt-5">
                <tr *ngFor="let menu of newdateArray; let i = index " class="text-center">
                    <td>{{menu.reference}}</td>
                    <td>{{menu.nameDishesCategories}}</td>
                    <td>{{menu.name}}</td>
                    <td> <img src={{menu.imageDishe}} alt="" class="sizeLogo mx-2"></td>
                    <td>{{menu.price}}</td>
                    <td>{{menu.modificationDateDay}}</td>
                    <td>{{menu.modificationDateTime}}</td>
                    <td>{{menu.numberOfModifications}}</td>
                    <td><div class="radio radio-success m-2 form-check-inline">
                        <input [checked]="menu.state[0].check" value="{{menu.id}}" type="radio" name={{i}} id="state" #active
                        (click)="changeStateA(active.value)">
                        <label  style="font-size: 15px;">
                            Activo
                        </label>
                    </div></td>
                    <td><div class="radio radio-danger m-2 form-check-inline">
                        <input [checked]="menu.state[1].check"  value="{{menu.id}}" type="radio" name={{i}} id="state" #inactive
                        (click)="changeStateI(inactive.value)" >
                        <label style="font-size: 15px;" >
                            Inactivo
                        </label>
                    </div></td>
                    <td>
                        <a href="#" class="btn"> <i class="far fa-edit"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

