<ngx-spinner bdOpacity=0.6 bdColor="rgba(255,255,255,0.6)" size="medium" color="rgb(207,44,126)" type="ball-atom"
  [fullScreen]="false">
</ngx-spinner>
<div class="mb-2">
    <nav class="order">

        <ul (click)="showDetail()" style="cursor: pointer">
            <li>
                <a>{{order.code}}</a>
            </li>
            <li>
                <a>{{order.name}}</a>
            </li>
            <li>
                <img [appTypeServiceImg] = "order.typeOfService" class="tifi-icon-order">
                <a>{{order.typeOfService}} </a>
            </li>
            <li>
                <a>$ {{order.purchaseAmount}}</a>
            </li>
            <li>
                <a>{{order.registerDate}}</a>
            </li>
            <li>
                <a>{{order.dateAndHourDelivery}}</a>
            </li>
            <li [ngStyle]="{'background-color': expresionColor.backgroundTimer}" >
                <img src="assets/icons/cronometro.png" class="tifi-icon-order">
                <a>{{order.timeTotalCronometer}}</a>
            </li>
            <li>
                <a>{{order.orderStatus}}</a>
            </li>
            <li style="border: none;">
                <!-- <input type="radio"> -->
                <button [ngStyle]="{'border-color': buttonDisable.color}" [disabled] = "buttonDisable.disable" type="button" class="radiobutton" (click)="swallUpdateState()" [id]="order.code" > </button>
            </li>
        </ul>

    </nav>

    <div *ngIf="showdetail">
        <nav class="detail">
            <ul style="font-weight: bold;">
                <li>
                    <a>Cantidad</a>
                </li>
                <li>
                    <a>Nombre del Plato</a>
                </li>
                <li>
                    <a>Detalle del plato </a>
                </li>
                <li>
                    <a>Tiempo preparación</a>
                </li>
                <li style="border: none;">
                    <a>Valor</a>
                </li>
            </ul>
            <ul *ngFor="let dish of order.nameDishe" >
                <li>
                    <a>{{ dish.quantity }}</a>
                </li>
                <li>
                    <a>{{dish.name}}</a>
                </li>
                <li>
                    <a>{{dish.description}} </a>
                </li>
                <li>
                    <a>{{dish.timedish}}</a>
                </li>
                <li style="border: none;">
                    <a>{{dish.valueDish}}</a>
                </li>
            </ul>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li>Valor servicio</li>
                <li>1500</li>
            </ul>
            <ul style="font-weight: bold;">
                <li></li>
                <li></li>
                <li></li>
                <li>Valor Total</li>
                <li>{{order.purchaseAmount}}</li>
            </ul>

        </nav>
    </div>

    <div style="display: flex;">
        <div style=" width: 87%;">
            <ngb-progressbar [type]="expresionColor.colorProgress" [value]="percent" ></ngb-progressbar>
        </div>
        <div class="smallfontprogress" style=" display: flex; width: 13%; justify-content: center;">
            <a [ngStyle]="{'color': expresionColor.colorFont}">! {{expresionColor.fontSmall}} ¡ </a>
        </div>
    </div>
</div>