<div class="mb-2" >
    <nav class="order">

        <ul (click)="showDetail()"  style="cursor: pointer" >
            <li>
                <a>l-320</a>
            </li>
            <li>
                <a>Natalia cortés</a>
            </li>
            <li>
                <img src="assets/icons/pidelo.png" class="tifi-icon-order">
                <a>llevalo </a>
            </li>
            <li>
                <a>$ 18400</a>
            </li>
            <li>
                <a>15/5/20 12:00pm</a>
            </li>
            <li>
                <img src="assets/icons/cronometro.png" class="tifi-icon-order">
                <a>30 min</a>
            </li>
            <li>
                <a>listo para la entrega</a>
            </li>
            <li style="border: none;">
                <input type="radio">
            </li>
        </ul>
    </nav>
        <div style="display: flex;" >
            <div style=" width: 87%;">
                <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
            </div>
            <div style=" display: flex; width: 13%; justify-content: center;" >
                <a style="font-size: 1rem;" [ngStyle]="{'color': expresionColor}" > !Relajate¡ </a>
            </div>
        </div>
</div>