<ngx-spinner bdOpacity=0.6 bdColor="rgba(255,255,255,0.6)" size="medium" color="rgb(207,44,126)" type="ball-atom"
    [fullScreen]="false">
</ngx-spinner>
<div class="mb-2">
    <nav class="order">

        <ul (click)="showDetail()" style="cursor: pointer">
            <li>
                <a>{{order.code}}</a>
            </li>
            <li>
                <a>{{order.name}}</a>
            </li>
            <li>
                <img [appTypeServiceImg]="order.typeOfService" class="tifi-icon-order">
                <a>{{order.typeOfService}} </a>
            </li>
            <li>
                <a>$ {{order.purchaseAmount}}</a>
            </li>
            <li>
                <a>{{order.registerDate}}</a>
            </li>
            <li>
                <a>{{order.dateAndHourDelivery}}</a>
            </li>
            <li [ngStyle]="{'background-color': expresionColor.backgroundTimer}">
                <img src="assets/icons/cronometro.png" class="tifi-icon-order">
                <a>{{order.timeTotalCronometer}}</a>
            </li>
            <li>
                <a>{{order.orderStatus}}</a>
            </li>
            <li style="border: none;">
                <!-- <input type="radio"> -->
                <button *ngIf="order.typeOfService != 'pidelo'" [ngStyle]="{'border-color': buttonDisable.color}"
                    [disabled]="buttonDisable.disable" type="button" class="radiobutton" (click)="swallUpdateState()"
                    [id]="order.code"> </button>
                <button *ngIf="order.typeOfService == 'pidelo'" [ngStyle]="{'border-color': buttonDisable.color}"
                    [disabled]="!buttonDisable.disable" type="button" class="radiobutton"
                    (click)="updateStatePidelo(content)" [id]="order.code">
                </button>
            </li>
        </ul>

    </nav>

    <div *ngIf="showdetail">
        <nav class="detail">
            <ul style="font-weight: bold;">
                <li>
                    <a>Cantidad</a>
                </li>
                <li>
                    <a>Nombre del Plato</a>
                </li>
                <li>
                    <a>Detalle del plato </a>
                </li>
                <li>
                    <a>Tiempo preparación</a>
                </li>
                <li style="border: none;">
                    <a>Valor</a>
                </li>
            </ul>
            <ul *ngFor="let dish of order.nameDishe">
                <li>
                    <a>{{ dish.quantity }}</a>
                </li>
                <li>
                    <a>{{dish.name}}</a>
                </li>
                <li>
                    <a>{{dish.description}} </a>
                </li>
                <li>
                    <a>{{dish.timedish}}</a>
                </li>
                <li style="border: none;">
                    <a>{{dish.valueDish}}</a>
                </li>
            </ul>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li>Valor servicio</li>
                <li>1500</li>
            </ul>
            <ul style="font-weight: bold;">
                <li></li>
                <li></li>
                <li></li>
                <li>Valor Total</li>
                <li>{{order.purchaseAmount}}</li>
            </ul>

        </nav>
    </div>

    <div style="display: flex;">
        <div style=" width: 87%;">
            <ngb-progressbar [type]="expresionColor.colorProgress" [value]="percent"></ngb-progressbar>
        </div>
        <div class="smallfontprogress" style=" display: flex; width: 13%; justify-content: center;">
            <a [ngStyle]="{'color': expresionColor.colorFont}">! {{expresionColor.fontSmall}} ¡ </a>
        </div>
    </div>
</div>

<!-- modal -->

<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-body">

        <h4>¿confirmar entrega del pedido con el codigo {{ order.code }} del {{order.dateAndHourDelivery}} ?</h4>

        <ngb-rating [(rate)]="currentRate" [max]="5">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
        </ngb-rating>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" style="width: 4rem; margin-right: 2rem;"
            (click)="openCalification(calification)">Si</button>
        <button type="button" class="btn btn-danger" style="width: 4rem;" (click)="sendToCalificationUser()">No</button>
    </div>

</ng-template>

<!-- modal for calification domiciliary -->

<ng-template #calification let-c="close" let-d="dismiss">

    <div class="modal-body">

        <h4>Sellecione el domiciliario</h4>

        <select class="form-control form-control-sm" [(ngModel)]='domiciliary' required>
            <option *ngFor="let profile of domiciliariesprofiles; let d = index" [value]="d">{{ profile.name }}</option>
        </select>

    </div>

    <div class="modal-footer">
        <button *ngIf="domiciliary != 'selecione'" type="button" class="btn btn-success" (click)="confirmOrder()">Aceptar</button>
    </div>

</ng-template>