/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

$principal-color: #572483;

// .text-center{
//     text-align: center;
//     vertical-align: middle;
// }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
}
body {
  margin: 0;
  color: #572483;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-padding-tifi {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.text-with-out {
  margin-bottom: 0;
}

.text-tifi-bold {
  text-align: center !important;
  font-weight: bold;
  font-size: 1.2rem;
}
//style for margin of body of adminTfi
.compenetsstyle {
  padding: 7rem;
}
//Styles tables
th,
td {
  text-align: center;
}

.bootstrap-table .fixed-table-container .table thead th {
  vertical-align: inherit;
}

.buttonstyle {
  background-color: #572483;
  color: thistle;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}

.btn:hover {
  color: #e3e9ee;
}

.tifi-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.tifi-icon-back {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

}

.my-custom-scrollbar {
    position: relative;
    height: 23.8rem;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }


.invalid-feedbac{
  color: red;
  font-size: .8rem;
  margin-bottom: .5rem;
}




//medias queries

@media only screen and (max-width: 770px) {
  html,
  body {
    font-size: 13px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//style for loading
.animated{
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}