/* You can add global styles to this file, and also import other style files */

$principal-color :  #572483;

.text-center{
    text-align: center;
}

html, body { 
    height: 100%; 
    width: 100%;
    font-size: 15px;
    }
body { margin: 0; color: #572483; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-padding-tifi{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.text-with-out{
    margin-bottom: 0;
}

.text-tifi-bold{
    text-align: center !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.compenetsstyle{
    padding: 7rem;
}

.buttonstyle{
    background-color: #572483; 
    color: thistle; 
    font-size: medium;
    padding: .5rem .5rem;
}