
.example-full-width {
  width: 100%;
}

.content-model {
  margin-left: 15px;
  margin-bottom: 0px;
}

.btn-container {
  text-align: right;
}

table {
  width: 100%;
}

.containerGroup {
  margin-bottom: 15px;
}