<form (ngSubmit)="login(forma)" #forma="ngForm" novalidate=''>
    <div class="container-fluid">
        <div class="text-center text-tifi-bold" *ngIf="!signError" >
            !Las credenciales de acceso no son validas¡
        </div>

        <div>
            <p class="text-with-out">Usuario</p>
            <input type="text" [ngClass]="{'is-invalid': (user.errors?.required && user.touched)}" class="form-control border-tifi" name="user" [(ngModel)]="email" required maxlength="35"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #user="ngModel">

            <div class="invalid-feedback" *ngIf="user.errors?.required && user.touched && signError">
                Este campo es requerido
            </div>
        </div>

        <p class="text-with-out">Contraseña</p>
        <div class="input-group mb-3">

            
            <input [type]="Typetext" [ngClass]="{'is-invalid': (password.errors?.required && password.touched )}" class="form-control border-tifi" name="password" [(ngModel)]="pass" required maxlength="35"
                pattern="[A-Za-z0-9]+" #password="ngModel">

            <div class="input-group-append">
                <button (click)="seepassword()" class="btn btn-outline-primary form-control  border-left-0 border-tifi" [ngClass]="{'invalid': (password.errors?.required && password.touched) || password.errors?.minlength }" type="button"
                    id="button-addon2" aria-label="" aria-describedby="basic-addon1">
                    <img *ngIf="!seepass" src="assets/icons/tifi-eye.svg" class="tifi-icon d-flex">
                    <i *ngIf="seepass" class="far fa-eye-slash tifi-icon" style="color: #572483;" ></i>
                    
                </button>
            </div>
           
              
            <div class="invalid-feedback" *ngIf="password.errors?.required && password.touched && signError">
                este campo es requerido
            </div>

        </div>

        <div class="d-flex justify-content-center align-items-center">
            <a class="links-tifi my-2" style="text-decoration: underline;" [routerLink]="['/log','forget']"> ¿Olvidaste la
                contraseña?</a>

        </div>

        <button [disabled] = "!forma.valid"
                type="submit" class="btn container-fluid"
            style="background-color: #572483; color: white;">Ingresar</button>

    </div>
</form>