.buttonfirst {
    margin-right: 5rem;
  }
  .buttonsecond {
    margin-right: 12rem;
  }
  /* .buttonlast{
      flex-direction: row-reverse;
  } */
  
  .form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range,
  .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  .compenetsstyle{
    height: 100%;
  }
  
  /* Just common table stuff. Really. */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 8px 16px;
  }
  th {
    background: #eee;
  }
  
  .btn-success.focus,
  .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }
  .btn.focus,
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  .mr-5,
  .mx-5 {
    margin-right: 3rem !important;
  }
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btnForInforms {
    box-shadow: 2px 2px 5px #999;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid white;
    padding: 0.38rem 0.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
  
  .tableFixHead {
    overflow-y: auto;
    height: 35rem;
    background-color: #f6f6f6;
    border: 1px solid #d2d2d2;
    // box-shadow: 2px 2px 5px;
    border-radius: 1rem;
  }

  thead{
    position: relative;
    z-index: 1;
  }
  
  th {
    background: #e9e7e7;
    padding: 4px 8px;
  }
  
  .filerControl{
    display: flex;
    background-color: #d2d2d2;
    width: 100%;
    margin-top: 0;
    border: 1px solid #d2d2d2;
    font-size: .7rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
  
  }
  
  .bg-light {
    background-color:#f6f6f6 !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  
  .navbar-light .navbar-nav .nav-link {
  
    color: #4e4f4f;
  
  }
  
  .navbar{
    padding: .5rem .1rem;
    border-radius: .5rem;
   
  }
  
  //Styles button primary
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #552183;
  }
  .btn-outline-primary {
    color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #5a4183;
    border-color: #5a4183;
  }
  
  // dish photo
  .sizeLogo {
    width: 5rem;
    height: 5rem;
  }
  
  
  //Styles for the radio button of the state
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }
  
  .radio {
    padding-left: 20px;
  }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  .radio.radio-inline {
    margin-top: 0;
  }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }
  