<div class="compenetsstyle px-5 pt-5 " style="background-color: #e9e7e7;">
    <div class="row  ">
        <div style="width: 5%;" class="d-flex align-items-center">
            <a [routerLink]="['/main/allyManager/',-2]" class="d-flex">
                <img src="assets/icons/Back.png" class="tifi-icon-back">
            </a>
        </div>
        <section class="col-11">
            <div class="filerControl px-1 ">
                <nav class="navbar navbar-expand-sm navbar-light bg-light" style="width: 100%;">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                        <section class="col-md-4 mr-1 " style="flex-direction: column;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [formGroup]="table">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item mr-2">
                                            <input placeholder="Buscar promoción por código ..." class="form-control"
                                                type="text" (keyup)="search(reference.value, reference.id)" #reference
                                                id="reference" formControlName="reference">
                                        </li>
                                        <li class="nav-item">
                                            <input placeholder="Buscar promoción por nombre del plato..."
                                                class="form-control" type="text" (keyup)="search(name.value, name.id)"
                                                #name id="name" formControlName="name">
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </section>

                        <section class="col-md-8 overflow-auto mr-1" style="flex-direction: column;">
                            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid d-flex">
                                    <li class="nav-item container-fluid d-flex">
                                        <input (keyup)="searchbyterm(general.value)" class="form-control text-center"
                                            id="general" type="text" placeholder="Buscar promoción ..." #general
                                            [(ngModel)]="generalsearch">
                                    </li>
                                </ul>
                            </nav>
                        </section>
                    </div>
                </nav>
            </div>
        </section>
    </div>

    <div class="tableFixHead mt-5">
        <table>
            <thead>
                <tr>
                    <th class="text-center">Referencia</th>
                    <th class="text-center">Categoría</th>
                    <th class="text-center">Nombre del plato</th>
                    <th class="text-center">Foto del plato</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Tipo de promoción</th>
                    <th class="text-center">Precio con promoción</th>
                    <th class="text-center">Dias de promoción</th>
                    <th class="text-center">Fecha de inicio de promoción</th>
                    <th class="text-center">Hora de inicio de promoción</th>
                    <th class="text-center">Fecha de finalización de promoción</th>
                    <th class="text-center">Hora de finalización de promoción</th>
                    <th class="text-center" colspan="2">Estado</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody class="mt-5">
                <tr *ngFor="let menuPromo of dishPromoArray; let i = index " class="text-center">
                    <td>{{menuPromo.reference}}</td>
                    <td>{{menuPromo.nameDishesCategories}}</td>
                    <td>{{menuPromo.name}}</td>
                    <td><img src={{menuPromo.photo}} alt="" class="sizeLogo mx-2"></td>
                    <td>{{menuPromo.price}}</td>
                    <td>{{menuPromo.namepromo}}</td>
                    <td>{{menuPromo.pricepromo}}</td>
                    <td>{{menuPromo.daysPromo}} días</td>
                    <td>{{menuPromo.promotionStartDate[0].day}}/{{menuPromo.promotionStartDate[0].month}}/{{menuPromo.promotionStartDate[0].year}}
                    </td>
                    <td>{{menuPromo.timestart}}</td>
                    <td>{{menuPromo.endDatePromotion[0].day}}/{{menuPromo.endDatePromotion[0].month}}/{{menuPromo.endDatePromotion[0].year}}
                    </td>
                    <td>{{menuPromo.timeend}}</td> 
                    <td>
                        <div class="radio radio-success m-2 form-check-inline">
                            <input [checked]="menuPromo.state[0].check" value="{{menuPromo.id}}" type="radio" name={{i}}
                                id="state" #active (click)="verifyDate(active.value,i)">
                            <label style="font-size: 15px;">
                                Activo
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="radio radio-danger m-2 form-check-inline">
                            <input [checked]="menuPromo.state[1].check" value="{{menuPromo.id}}" type="radio" name={{i}}
                                id="state" #inactive (click)="changeStateI(inactive.value)">
                            <label style="font-size: 15px;">
                                Inactivo
                            </label>
                        </div>
                    </td>
                    <td>
                        <a [routerLink]="[ '/main/createDish', menuPromo.reference]" class="btn"> <i
                                class="far fa-edit"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>