<!-- <div class="compenetsstyle">


    <div class="m-2 d-flex flex-row" style="align-items: center;">
        <a [routerLink]='["/headquarts"]' class="d-flex mr-2">
            <img src="assets/icons/Back.png" class="tifi-icon-back">
        </a>

        <div class="container-fluid d-flex justify-content-center m-2">
            <input style="width: 80%;" class="form-control text-center" id="general" type="text"
                placeholder="Buscar perfil ..." #general (keyup)="searchbyterm(general.value)">
        </div>
        <a [routerLink]="['/main','createProfile']" class="btn btn-outline-primary" style="width: 12rem;">Ingresar nuevo perfil</a>
   
    </div>

    <div class="container-fluid d-flex justify-content-center m-2">

        <div class="tableFixHead">
            <table>
                <thead>
                    <tr>
                        <th class="text-center">Perfil</th>
                        <th class="text-center">Cédula<input class="form-control" type="text"
                                (keyup)="search(idCharge.value, idCharge.id)" #idCharge id="idCharge"></th>
                        <th class="text-center">Nombre<input class="form-control" type="text" (keyup)="search(name.value, name.id)" #name id="name"  ></th>
                        <th class="text-center">Foto</th>
                        <th class="text-center">Sede</th>
                        <th class="text-center">Fecha de ingreso</th>
                        <th class="text-center">Fecha de modificación</th>
                        <th class="text-center">Número de modificaciones</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center"> </th>
                    </tr>
                </thead>
                <tbody class="mt-5">
                    <tr *ngFor="let prof of newArray; let i = index " class="text-center">
                        <td>{{prof.nameCharge}}</td>
                        <td>{{prof.idCharge}}</td>
                        <td>{{prof.name}}</td>
                        <td> <img src={{prof.photo}} alt="" class="sizeLogo mx-2"></td>
                        <td>{{prof.nameHeadquarter}}</td>
                        <td>{{prof.entryDate}}</td>
                        <td>{{prof.modificationDate}}</td>
                        <td>{{prof.numberOfModifications}}</td>
                        <td>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="state" #radio1 value="active" name="radioInline" >
                                <input type="radio" id="state" #radio2 value="inactive" name="radioInline">
                                <br>
                                <label > {{prof.state}} </label>
                            </div>
                          
                        </td>
                        <td>
                            <a href="#" class="btn"> <i class="far fa-edit"></i> </a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div> 


    </div>
</div>-->